mixin sLicenses(data)
	// start sLicenses
	+b.SECTION.sLicenses.section#sLicenses&attributes(attributes)
		.container
			h2 Свидетельства и&nbsp;лицензии
		mixin slide(img, num)
			+e.slide.swiper-slide
				.container
					+e.sertificate(href=`img/@2x/sLicenses-img-bg-${img}.jpg`, data-fancybox=`sertificate-${num}`)
						+pic(`sLicenses-img-${img}.png`, ``, 0)
						+icon('search')
		+e.sliderContainer
			+e.slider--js.swiper
				.swiper-wrapper
					+slide('1', 1)
					+slide('1', 2)
					+slide('1', 3)
					+slide('2', 4)
			+arrow
	// end sLicenses