mixin sEvents-item(num, year, text)
	+e.wrap
		+e.head
			span!= num
			span!= year
		p!= text

mixin sEvents(data)
	// start sEvents
	+b.sEvents.section#sEvents&attributes(attributes)
		.container
			+e.line
			.row
				.col-md-6
					+sEvents-item('2021', 'год' ,'Особо важные объекты по&nbsp;строительству метрополитена и&nbsp;уникальных зданий разрабатываются с&nbsp;применением ТИМ, создается библиотека типовых узлов. Институт продолжает работу по&nbsp;проектированию станций БКЛ, а&nbsp;также участвует в&nbsp;реконструкции радиальных станций метрополитена. Институт расширяет географию своих проектов и&nbsp;выходит за&nbsp;пределы Москвы. Ведется работа над масштабным проектом по&nbsp;преобразованию городской среды &laquo;Притяжение&raquo; в&nbsp;Магнитогорске.')
				.col-md-6
					+sEvents-item('2020', 'год' ,'В&nbsp;Институте сформированы новые подразделения по&nbsp;проектированию метрополитена и&nbsp;гражданских объектов. Начинается активное внедрение технологий информационного моделирования в&nbsp;проектировании станций БКЛ.')
				.col-md-6
					+sEvents-item('2015', 'год' ,'Филиал преобразован в&nbsp;Общество с&nbsp;ограниченной ответственностью &laquo;Институт по&nbsp;изысканиям и&nbsp;проектированию транспортных и&nbsp;инженерных сооружений &laquo;Мосинжпроект&raquo; (сокращенно&nbsp;&mdash; ООО &laquo;Институт &laquo;Мосинжпроект&raquo;), входящее в&nbsp;группу компаний &laquo;Мосинжпроект&raquo;.')
				.col-md-6
					+sEvents-item('2013', 'год' ,'Проектные подразделения АО&nbsp;&laquo;Мосинжпроект&raquo; выделены в&nbsp;филиал АО&nbsp;&mdash; &laquo;Институт по&nbsp;изысканиям и&nbsp;проектированию транспортных и&nbsp;инженерных сооружений &laquo;Мосинжпроект&raquo;.')
				.col-md-6
					+sEvents-item('2011', 'год' ,'На&nbsp;базе Института создана инжиниринговая компания полного цикла АО&nbsp;&laquo;Мосинжпроект&raquo;, ставшая единым оператором Программы развития Московского метрополитена, участником Программы развития транспортно-пересадочных узлов столицы, генеральным проектировщиком и&nbsp;техническим заказчиком ключевых дорожных объектов Москвы.')
				.col-md-6
					+sEvents-item('2010', 'год' ,'Институт прошел процедуру ауционирования. &laquo;Мосинжпроект&raquo; получил диплом победителя конкурса тоннельной ассоциации России &laquo;На&nbsp;лучшее применение прогрессивных технологий при освоении подземного пространств&raquo; в&nbsp;номинации &laquo;Технологии строительства тоннелей и&nbsp;подземных выработок закрытым способом&raquo;')
				.col-md-6
					+sEvents-item('2000', '-е годы' ,'Запроектированы тонели в&nbsp;рамках разработки проектов хордовых магистралей Москвы, транспортных объектов Новой Москвы. Специалисты Института принимали участие в&nbsp;программе реконструкции вылетных магистралей Москвы.')
				.col-md-6
					+sEvents-item('1990', '-е годы' ,'Разработаны проекты на&nbsp;реконструкцию основных радиальных магистралей, выполнен проект Третьего транспортного кольца. Спроектирован подземный комплекс на&nbsp;манежной площади.')
				.col-md-6
					+sEvents-item('1970-80', '-е годы' ,'Институт участвует в&nbsp;проектировании новых магистралей, улиц, проездов, связанных с&nbsp;освоением новых спальных районов. Ведется масштабная работа по&nbsp;благоустройству и&nbsp;озеленению жилых районов и&nbsp;парков. К&nbsp;1985-му году группа ландшафтного проектирования ежемесячно выпускает проекты к&nbsp;двадцати объектам. Спроектированы Русаковская эстакада и&nbsp;знаменитый Гагаринский тоннель которые не&nbsp;имели аналогов в&nbsp;Европе.')
				.col-md-6
					+sEvents-item('1960', '-е годы' ,'Институт выпустил проекты для новых столичных микрорайонов общей жилой площадью около 100 млн&nbsp;кв. метров. Особой гордостью инженеров остаются транспортные тоннели первого поколения&nbsp;&mdash; Дорогомиловский,Таганский, Добрынинский.')
				.col-md-6
					+sEvents-item('1958', 'год' ,'В&nbsp;Москве основан единый центр по&nbsp;проектированию инженерной инфраструктуры&nbsp;&mdash; Институт по&nbsp;изысканиям и&nbsp;проектированию транспортных и&nbsp;инженерных сооружений &laquo;Мосинжпроект&raquo;.')
	// end sEvents