// start .partnersSlider
.partnersSlider {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		.slick-track{
			&::before,
			&::after{
				display: none;
			}
			display: flex;
		}
		&__slide{
			display: flex !important;
			flex-direction: column;
			height: auto;
			// border: 1px solid #000;
			p{
				// flex-grow: 1;
			}
		}
		&__img-wrap{
			// flex-grow: 1;
			// display: flex;
			// align-items: center;
			// justify-content: center;
			margin-bottom: 23px;
			position: relative;
			@include block(218, 56);
			// max-width: 218px;
			// margin-left: auto;
			// margin-right: auto;
			img{
				@include a-cent;
				// margin-bottom: 0;
			}
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.partnersSlider