mixin partnersSlider(data)
	// start partnersSlider
	.partnersSlider
		.slider__wrap
			#partnersSliderPrev.slider__arrow.slider__arrow--prev
				svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
					path(d='M15 17.5L9 11.5L15 5.5' stroke='currentColor' stroke-width='2')
			.container
				h2 Партнеры
				#partnersSlider.slider__carousel
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
					a.partnersSlider__slide(href='#')
						img(src='images/partners_slider/1.png' alt='')
						p.small Мосинжпроект АО
			#partnersSliderNext.slider__arrow.slider__arrow--next
				svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
					path(d='M15 17.5L9 11.5L15 5.5' stroke='currentColor' stroke-width='2')
	
	// end partnersSlider