
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win--sm
			+form-wrap
				.text-center
					+e.title.form-data.h3 Обратная связь
				+input("Ввдите имя", t, 'Имя')(required)
					span.required *
				+input("Введите название компании", t, 'Компания')(required)
					span.required *
				+input("Введите e-mail", 'email', 'E-mail')(required)
					span.required *
				+input("Выберите тему", 'select', 'Тема')(required)
					span.required *
					+icon('chevron-down')
				//- +select('Тема', 'Выберите тему', 'Выберите тему1', 'Выберите тему2', 'Выберите тему3', 'Выберите тему4')(required)
				//- 	span.required *
				//- 	+icon('chevron-down')
				+input("Введите сообщение", 'textarea', 'Ваше сообщение')(required)
					span.required *
				+e.BUTTON.btn.btn.--bgPrimary.--colorWhite(type="submit") Отправить
				+policy2()
	// #modal-call
	
	div(id="modal-application-form"  style="display: none" )
		+b.modal-win--second
			.row
				.col-lg-8
					+b.info-block
						+e.head
							h3 Инженер-эколог 2&nbsp;категории
							span от 65 000 ₽
						+e.body
							+e.wrap
								h5 Обязанности
								ul
									li
										p Разработка программы в&nbsp;соответствии с&nbsp;заданием на&nbsp;инженерно-экологические изыскания
									li
										p Подготовка текстовых и&nbsp;графических приложений отчетной технической документации по&nbsp;разделу инженерно-геологические изыскания в&nbsp;соответствии с&nbsp;заданием и&nbsp;программой
									li
										p Расчет сметной стоимости инженерно-экологических изысканий
									li
										p Опыт взаимодействия с&nbsp;экспертными органами, при защите раздела отчетной технической документации
							+e.wrap
								h5 Требования
								ul
									li
										p Высшее профильное образование
									li
										p Опыт работы: 1&ndash;3 года
									li
										p Знание программ: AutoCad, Microstation
									li
										p Знание НПА Р.Ф. по&nbsp;вопросам своей компетенции
									li
										p Готовность к&nbsp;не&nbsp;частым поездкам по&nbsp;Москве и&nbsp;Новой Москве
							+e.wrap
								h5 Условия
								ul
									li
										p Оформление по&nbsp;ТК&nbsp;РФ; работа в&nbsp;крупной, стабильной компании
									li
										p Полный соц. пакет
									li
										p График работы: пн.-чт.&nbsp;8.30-17.30, пятница 8.30-16.15
									li
										p Коллективный договор
									li
										p ДМС
									li
										p Профессиональный и&nbsp;карьерный рост в&nbsp;крупной компании
									li
										p Заработная плата: от&nbsp;65&nbsp;000 до&nbsp;75&nbsp;000&nbsp;руб.&nbsp;на&nbsp;руки
							h5 Адрес
							p Китай-город, Москва, Сверчков переулок, 4/1с1
				.col-lg-4
					+b.form-block
						+form-wrap()
							h3 Анкета соискателя
							p Заполните анкету или пришли своё резюме на&nbsp;электронный адрес #[a(href="#") institute@mosinzhproekt.ru]
							+input('Ввдите имя', 'text', 'Имя *')(required)
								span.required *
							+input('Ввдите фамилию', 'text', 'Фамилия *')(required)
								span.required *
							+input('+7 (    )        -      -', 'tel', 'Контактный телефон *')(required)
								span.required *
							+input('Введите e-mail', 'email', 'E-mail *')(required).border-danger
								span.required *
							+input('', 'textarea', 'Cопроводительное письмо *')(required)
								span.required *
							.invalid-feedback Example invalid form file feedback
							.form-wrap__input-title Резюме, анкета
							<input type="file"  class="filepond" name="filepond"  multiple  data-allow-reorder="true" data-max-file-size="3MB" data-max-files="3">
								
							+e.BUTTON.btn.btn.--bgPrimary.--colorWhite(type="submit") Отправить
							+policy2()
	// #modal-call

	// class .active для показа
	+b.alert-block
		+e.close
			+icon('close')
		+e.title
			img(src="img/svg/alert.svg", alt="")
			span Отправлено
		p Ваше сообщение отправлено, Наши менеджер свяжется с вами.
	
	// end modals