
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win--sm
			+form-wrap
				.text-center
					+e.title.form-data.h3 Обратная связь
				+input("Ввдите имя", t, 'Имя')(required)
					span.required *
				+input("Введите название компании", t, 'Компания')(required)
					span.required *
				+input("Введите e-mail", 'email', 'E-mail')(required)
					span.required *
				+select('Тема', 'Выберите тему', 'Выберите тему1', 'Выберите тему2', 'Выберите тему3', 'Выберите тему4')(required)
					span.required *
					+icon('chevron-down')
				+input("Введите сообщение", 'textarea', 'Ваше сообщение')(required)
					span.required *
				+e.BUTTON.btn.btn.--bgPrimary.--colorWhite(type="submit") Отправить
				+policy2()
	// #modal-call
	
	// end modals