mixin sAboutTeam(data)
	// start sAboutTeam
	+b.SECTION.sAboutTeam.section#sAboutTeam&attributes(attributes)
		.container
			.row
				.col-md-auto.order-md-last
					+e.card
						+pic(`team-0.jpg`,'',0)
						+e.title
							span Черкесов
							| Рустам Хасанович
						p Генеральный директор
				.col
					+e.content--bg
						blockquote
							p Уважаемые коллеги и партнеры! <br> Приветствую Вас на сайте нашего Института.
						p Институт &laquo;Мосинжпроект&raquo;&nbsp;&mdash; одна из&nbsp;ведущих проектных организаций России, входит в&nbsp;группу компаний &laquo;Мосинжпроект&raquo;. На&nbsp;сегодняшний день мы&nbsp;успешно осуществляем работу, открываем новые направления, постоянно совершенствуясь и&nbsp;внедряя новые технологии.

						p Главный принцип работы, которым мы&nbsp;руководствуемся в&nbsp;своей деятельности с&nbsp;самого первого дня основания Института&nbsp;&mdash; это честное и&nbsp;ответственное отношение к&nbsp;делу. Наши партнеры всегда уверены, что мы&nbsp;приложим все усилия, чтобы найти оптимальное решение для любого проекта и&nbsp;выполнить все работы строго в&nbsp;срок и&nbsp;в&nbsp;полном объёме.

						p Cлаженная работа и&nbsp;профессионализм наших инженеров являются залогом высоких результатов. Мы&nbsp;гордимся тем, что внесли большой вклад в&nbsp;развитие транспортной инфраструктуры столицы.

						p Мы&nbsp;ставим на&nbsp;будущее весьма масштабные и&nbsp;амбициозные задачи и&nbsp;будем искренне рады, если в&nbsp;лице Института &laquo;Мосинжпроект&raquo; Вы&nbsp;найдете достойного партнера и&nbsp;союзника для долгосрочного сотрудничества. Уверен, наш опыт, знания и&nbsp;профессионализм гарантируют Вам качественное решение всех поставленных задач.
						+pic('team-0-autograf.png','',0)
					+e.content
						p: strong.ttu Биография
						p Родился 18&nbsp;февраля 1981&nbsp;г. В&nbsp;2003&nbsp;г.&nbsp;с&nbsp;отличием окончил инженерно- строительный институт. Более 18&nbsp;лет работает в&nbsp;системе Стройкомплекса Москвы. В&nbsp;2015 году приглашён в&nbsp;холдинг Мосинжпроект в&nbsp;блок градостроительство и&nbsp;проектирование. 

						p Руководил проектированием Большой кольцевой линии Московского метрополитена , а&nbsp;также всеми знаковыми объектами транспортной и&nbsp;инженерной инфраструктуры Москвы в&nbsp;должности заместителя генерального директора по&nbsp;проектированию холдинга. С&nbsp;2020&nbsp;г. генеральный директор Института по&nbsp;изысканиям и&nbsp;проектированию транспортных и&nbsp;инженерных сооружений Мосинжпроект. 

						p Имеет Благодарность Мэра Москвы, Благодарность Министерства строительства&nbsp;РФ.
		+landingInfo__bg()
	// end sAboutTeam