mixin sServiseBody(data)
	// start sServiseBody
	+b.sServiseBody.section#sServiseBody&attributes(attributes)
		.container.container--sm
			p: strong!= data.p
			ul
				each item in data.items
					li= item
			block
	// end sServiseBody

mixin sServiseBody2(data)
	// start sServiseBody
	+b.sServiseBody.section#sServiseBody&attributes(attributes)
		.container
			if data.title
				h2!= data.title
			if data.p
				p: strong!= data.p
			ul
				each item in data.items
					li= item
			block
	// end sServiseBody