// start .sServiseBody
.sServiseBody {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		background: #E6E6E6;
		h2 {
			margin-bottom: rem(24);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(36);
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(60);
			}
		}
		p{
			strong{

				@include rfs(25px);
				font-weight: bold;
			}
				margin-bottom: rem(20);
		}
		@include media-breakpoint-up(sm) {
		ul{
			display: flex;
			flex-wrap: wrap;
		}
		}
		li{
			// width: 50%;
			@include media-breakpoint-up(sm) {
				
				min-width: 50%;
				max-width: 500px;
				flex: 1 0 0%;
				padding-right: rem(30);
			} 
			border-top: 1px solid #D4D4D4;
			padding-top: rem(24);
			padding-bottom: rem(24);
			padding-left: rem(30);
			position: relative;
			&:nth-child(1){
				
				border: none;
			}
			@include media-breakpoint-up(sm) {
			&:nth-child(2){
				border: none;
			}
			}
			&::before{
				content: '';
				position: absolute;
				left: 0;
				@include media-breakpoint-up(sm) {

				} 
				top: rem(-2);
				top: rem(24);
				background-image: var(--list-style);
				width: rem(24);
				height: rem(24);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	// &--second {
	// 	ul {
	// 		border-bottom: 1px solid #D4D4D4;
	// 	}
	// 	li {
	// 		border-top: none !important;
	// 		border-bottom: 1px solid #D4D4D4;
	// 		&:last-child {
	// 			border-bottom: none;
	// 			border-top: none;
	// 		}
	// 	}
	// }
	@include media-breakpoint-up(xl) {} 
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {} 
	@include media-breakpoint-down(xl) {}
} // end.sServiseBody