mixin sBenefit-card(num, title, text, btn)
	+e.link(href="#")
		+icon(`benefits-${num}`)
		h4!= title
		p!= text
		+e.btn.btn---outline-primary.--colorPrimary!= btn

mixin sBenefits(data)
	// start sBenefits
	+b.SECTION.sBenefits.section#sBenefits&attributes(attributes)
		.mainSlider__particles(id=`particles-js-0`)
		.container
			.row
				.col-md-4.col-lg-3
					+sBenefit-card(1, 'Квалифицированные сотрудники', 'Более 1300 квалифицированных сотрудников всех специальностей, необходимых для разработки проектной документации', 'Руководство')
				.col-md-4.col-lg-3
					+sBenefit-card(2, 'Многолетний опыт', 'Более 60&nbsp;лет успешной работы, реализации сложных и&nbsp;уникальных проектов', 'история компании')
				.col-md-4.col-lg-3
					+sBenefit-card(3, 'Награды и&nbsp;достижения', 'Проекты удостоены наград престижных отраслевых конкурсов', 'Награды и&nbsp;достижения')
				.col-md-4.col-lg-3
					+sBenefit-card(4, 'Совершенствование решений', 'Постоянное совершенствование проектных решений с&nbsp;учётом современных требований', 'Наши проекты')
				.col-md-4.col-lg-3
					+sBenefit-card(5, 'Комплексный подход', 'Комплексный подход к&nbsp;проектированию с&nbsp;учётом перспективного развития города', 'Проектирование')
				.col-md-4.col-lg-3
					+sBenefit-card(6, 'Современные технологии', 'Использование передовых технологий проектирования, в&nbsp;том числе технологии информационного моделирования', 'BIM&mdash;технологии')
				.col-md-4.col-lg-3
					+sBenefit-card(7, 'Членство в&nbsp;СРО', 'Участие в&nbsp;развитии отрасли, свободное ориентирование в&nbsp;ситуации на&nbsp;рынке и&nbsp;положительная репутация среди заказчиков', 'Членство в&nbsp;СРО')
				.col-md-4.col-lg-3
					+sBenefit-card(8, 'Устойчивое развитие компании ', 'Освоение новых направлений деятельности, расширение штата и&nbsp;географии проектов', 'интегрированная система менеджмента')
	// end sBenefits