mixin sTestingCenter(data)
	// start sTestingCenter
	+b.SECTION.sTestingCenter.section#sTestingCenter&attributes(attributes)
		.container
			.row
				.col-lg-6 
					+pic('sTestingCenter-img.jpg', 'bg', 0)
				.col-lg-6
					h2 Испытательный центр
					p Институт &laquo;Мосинжпроект&raquo; имеет собственный Аккредитованный Испытательный центр, который выполняет заказы любой сложности в&nbsp;кратчайшие сроки с&nbsp;соблюдением высокого качества. Это позволяет выполнять до&nbsp;90% лабораторных исследований в&nbsp;рамках инженерно-экологических изысканий своими силами.
					p Техническая компетентность и&nbsp;независимость Испытательного центра подтверждена Федеральной службой по&nbsp;аккредитации #[a(href="#") запись в&nbsp;реестре аккредитованных лиц &#8470;RA.RU.21НУ11 от&nbsp;05.12.2019]
					+e.BUTTON.btn.btn.btn--bgBlack.btn--colorWhite подробнее
	// end sTestingCenter