mixin sFundamentalPrinciples(data)
	// start sFundamentalPrinciples
	+b.SECTION.sFundamentalPrinciples.section#sFundamentalPrinciples&attributes(attributes)
		.container
			h2 Основополагающие принципы,на&nbsp;которых строится кадровая политика ООО &laquo;Институт &laquo;Мосинжпроект&raquo;
			.row
				.col-sm-6.col-lg-3
					+e.content
						img(src="img/svg/sFundamentalPrinciples-img-1.svg", alt="")
						p Обеспечение достойного уровня заработной платы
				.col-sm-6.col-lg-3
					+e.content
						img(src="img/svg/sFundamentalPrinciples-img-2.svg", alt="")
						p Стабильное развитие
				.col-sm-6.col-lg-3
					+e.content
						img(src="img/svg/sFundamentalPrinciples-img-3.svg", alt="")
						p Соблюдение прав сотрудников
				.col-sm-6.col-lg-3
					+e.content
						img(src="img/svg/sFundamentalPrinciples-img-4.svg", alt="")
						p Обеспечение возможностей для их&nbsp;всестороннего развития и&nbsp;успешной карьеры
	// end sFundamentalPrinciples