mixin sInvite(data)
	// start sInvite
	+b.SECTION.sInvite.section#sInvite&attributes(attributes)
		.container.wow.animate__fadeInUp.animate__animated
			+b.text-md-center
				h3 Мы&nbsp;приглашаем в&nbsp;свою команду молодых специалистов и&nbsp;состоявшихся профессионалов, готовых на&nbsp;деле реализовать свой потенциал
				p Станьте частью нашей компании!
				a.btn.btn--bgBlack.btn--colorWhite(href='#') Вакансии
	// end sInvite