mixin sDescription(data)
	// start sDescription
	+b.sDescription.section#sDescription&attributes(attributes)
			//- mixin slide(img, ...texts)
			//- 	+e.slide.swiper-slide
			//- 		.container
			//- 			.row
			//- 				+e.col.col-lg-6
			//- 					+e.content
			//- 						each text in texts
			//- 							p!= text
			//- 				.col-lg-6
			//- 					+pic(img, `bg`, 0)
			mixin slide(img, ...texts)
				.container.wow.animate__fadeInUp.animate__animated
					.row
						+e.col.col-lg-6
							+e.content
								each text in texts
									p!= text
						.col-lg-6
							.promo__image(style=`background-image: url(${img})`)
								img.promo__imageFg(src='images/projects_fg.svg' alt='')
								//- +pic(img, `bg`, 0)
			//- +e.sliderContainer
			//- 	+e.slider--js.swiper
			//- 		.swiper-wrapper
			//- 			+slide('sDescription-bg.jpg', 'Сотрудники ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвуют во&nbsp;внутрикорпоративных и&nbsp;городских спортивных соревнованиях, организованных Стройкомплексом г. Москвы, совершают коллективные путешествия и&nbsp;экскурсии в&nbsp;рамках клуба путешественников.', 'ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвует в&nbsp;социально значимых проектах, поддерживает мероприятия, проводимые Правительством Москвы, оказывает помощь детям-инвалидам, воспитанникам детских домов, ветеранам Великой Отечественной войны.')
			//- 			+slide('sDescription-bg.jpg', 'Сотрудники ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвуют во&nbsp;внутрикорпоративных и&nbsp;городских спортивных соревнованиях, организованных Стройкомплексом г. Москвы, совершают коллективные путешествия и&nbsp;экскурсии в&nbsp;рамках клуба путешественников.', 'ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвует в&nbsp;социально значимых проектах, поддерживает мероприятия, проводимые Правительством Москвы, оказывает помощь детям-инвалидам, воспитанникам детских домов, ветеранам Великой Отечественной войны.')
			//- 			+slide('sDescription-bg.jpg', 'Сотрудники ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвуют во&nbsp;внутрикорпоративных и&nbsp;городских спортивных соревнованиях, организованных Стройкомплексом г. Москвы, совершают коллективные путешествия и&nbsp;экскурсии в&nbsp;рамках клуба путешественников.', 'ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвует в&nbsp;социально значимых проектах, поддерживает мероприятия, проводимые Правительством Москвы, оказывает помощь детям-инвалидам, воспитанникам детских домов, ветеранам Великой Отечественной войны.')
			//- 	+arrow
			+slide('img/@2x/sDescription-bg.jpg', 'Сотрудники ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвуют во&nbsp;внутрикорпоративных и&nbsp;городских спортивных соревнованиях, организованных Стройкомплексом г. Москвы, совершают коллективные путешествия и&nbsp;экскурсии в&nbsp;рамках клуба путешественников.', 'ООО &laquo;Институт &laquo;Мосинжпроект&raquo; активно участвует в&nbsp;социально значимых проектах, поддерживает мероприятия, проводимые Правительством Москвы, оказывает помощь детям-инвалидам, воспитанникам детских домов, ветеранам Великой Отечественной войны.')
	// end sDescription