// start .sDescription
.sDescription {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	background-color: #D4D4D4;
	// &__slider {
	// 	overflow: visible;
	// }
	&__col {
		order: 1;
		@include media-breakpoint-up(lg) {
			order: 0;
		}
	}
	&__item {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		@include media-breakpoint-up(lg) {
			justify-content: space-between;
			// align-items: center;
			flex-direction: row;
		}
	}
	&__content {
		@include media-breakpoint-up(lg) {
			max-width: rem(478);
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
		p {
			&:first-child {
				margin-bottom: rem(20);
			}
		}
	}
	picture {
		@include mt;
		// width: 50%;
		filter: grayscale(1);
		margin-bottom: rem(24);
		&:hover {
			filter: grayscale(0);
		}
		@include media-breakpoint-up(lg) {
			margin-right: calc(-1 * (50vw - 100%) - var(--bs-gutter-x));
			margin-bottom: 0;
			// margin-right: var(--picturePos);
		}
	}
	&__sliderContainer {
		position: relative;
	}
	.swiper-button-hand {
		background-color: #C5C5C5;
		--swiperArrowPosition: 0;
		// &-next {
		// 	margin-right: calc(-50vw - -50%);
		// }
		// &-prev {
		// 	margin-left: calc(-50vw - -50%);
		// }
	}
	@include media-breakpoint-up(xl) {} 
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {} 
	@include media-breakpoint-down(xl) {}
} // end.sDescription