mixin sLaws(data)
	// start sLaws
	+b.SECTION.sLaws.section#sLaws&attributes(attributes)
		+e.head
			.container
				.row.justify-content-center.text-center
					.col-auto
						p &laquo;Телефон доверия&raquo; по&nbsp;противодействию коррупции:
					.col-auto
						a(href="tel:+79853507861") +7 (985) 350-78-61
		+e.body
			+e.card
				.container
					.row
						.col-md-6
							h3 Ответственность, предусмотренная уголовным кодексом Российской федерации
						.col-md-6
							ul 
								li
									p Ст.&nbsp;290 (получение взятки)
								li
									p Ст.&nbsp;291 (дача взятки)
								li
									p 204, 204.1 (коммерческий подкуп, посредничество в&nbsp;коммерческом подкупе)
								li
									p 201 (злоупотребление полномочиями)
								li
									p Ст.&nbsp;285 (злоупотребление должностными полномочиями)
								li
									p Ст.&nbsp;286 (превышение должностных полномочий)
								li
									p Ст.&nbsp;292 (служебный подлог)
			+e.card
				.container
					.row
						.col-md-6
							h3 За&nbsp;совершение коррупционных преступлений предусмотрены
						.col-md-6
							ul 
								li
									p Штраф
								li
									p Лишение права занимать определенные должности или заниматься определенной деятельностью
								li
									p Обязательные работы
								li
									p Исправительные работы
								li
									p Лишение свободы
								p К&nbsp;примеру, получение взятки в&nbsp;особо крупном размере (т.е. более 1&nbsp;млн рублей) наказывается штрафом в&nbsp;размере от&nbsp;80&nbsp;до&nbsp;100-кратной суммы взятки (но&nbsp;не&nbsp;более 500&nbsp;млн. рублей) с&nbsp;лишением права занимать определенные должности на&nbsp;срок до&nbsp;3&nbsp;лет, либо лишением свободы на&nbsp;срок от&nbsp;8&nbsp;до&nbsp;15&nbsp;лет.
			+e.card
				.container
					.row
						.col-md-6
							h3 Ответственность, предусмотренная Кодексом об&nbsp;административных правонарушениях Российской Федерации
						.col-md-6
							ul 
								li
									p Ст.&nbsp;19.28 (незаконное вознаграждение от&nbsp;имени юридического лица)
								li
									p Ст.&nbsp;19.29 (незаконное привлечение к&nbsp;трудовой деятельности государственного служащего (бывшего государственного служащего)
								p Совершение указанных правонарушений может повлечь за&nbsp;собой наложение административного штрафа на&nbsp;граждан в&nbsp;размере от&nbsp;двух тысяч до&nbsp;четырех тысяч рублей; на&nbsp;должностных лиц&nbsp;&mdash; от&nbsp;двадцати тысяч до&nbsp;пятидесяти тысяч рублей.
	// end sLaws