mixin sGoal(data)
	// start sGoal
	+b.SECTION.sGoal.section#sGoal&attributes(attributes)
		.container.container--sm
			+b.section-title
				h4 Задача технической и охранной зон метрополитена
				p Исключить взаимное негативное воздействие, которое может возникнуть между объектами метро и&nbsp;зданиями и&nbsp;сооружениями, располагающимися на&nbsp;прилегающих территориях.
				p Для уточнения попадания планируемого объекта в&nbsp;границы охранных и&nbsp;технических зон метрополитена необходимо еще на&nbsp;предпроектной стадии работ обратиться в&nbsp;первый отдел ГУП &laquo;Московский метрополитен&raquo;. После этого, в&nbsp;зависимости от&nbsp;результата анализа ситуации, Застройщика направляют для согласования в&nbsp;АО&nbsp;&laquo;Мосинжпроект&raquo; (проектируемые объекты) либо в&nbsp;&laquo;Метрогипротранс&raquo; (существующие, эксплуатируемые объекты метрополитена).
			h3 При попадании объекта в&nbsp;техническую и/или охранную зону метрополитена потребуются дополнительные мероприятия:
			mixin item(i, title, text)
				+e.item.bg-wrap
					+pic('card-bg.png', 'bg', 0).picture-bg
					img(src=`img/svg/sGoal-img-${i}.svg`).icon
					h5!= title 
					p!= text
			+e.row.row
				.col-lg-6
					+item(1, 'Обследование фактического состояние конструкций метрополитена', 'Способных оказать влияние на находящиеся в этой зоне новые здания и сооружения')
				.col-lg-6
					+item(2, 'Натурные исследования шумового уровня и вибраций', 'Которые должны проводиться специализированными, уполномоченными организациями')
			+e.warning
				+icon('warning')
				p Также потребуются согласования результатов с&nbsp;ГУП &laquo;Московский метрополитен&raquo;, &laquo;Метрогипротранс&raquo;, Роспотребнадзор.
			+e.footer
				p Кроме того, при размещении возводимого здания на&nbsp;расстоянии менее десяти метров от&nbsp;сооружений метрополитена, до&nbsp;начала строительно-монтажных работ понадобится издать совместный указ ГУП &laquo;Московский метрополитен&raquo; и&nbsp;Застройщика о&nbsp;порядке осуществления работ в&nbsp;технической зоне метрополитена.
				p Все это, как правило, значительно усложняет и&nbsp;замедляет процесс получения необходимых разрешений.
	// end sGoal