mixin sProjectsMap(data)
	// start sProjectsMap
	+b.SECTION.sProjectsMap.section#sProjectsMap&attributes(attributes)
		+b.secion-head
			.container
				.row
					.col
						+e.btns
							+input("ВСЕ ПРОЕКТЫ",'select')
							+input("период",'select')
							+input("местоположение",'select')
					.col-md-auto
						+e.btns(style="--bs-gutter-x: 0")
							+e.btn(href="#")
								+icon("cards")
							+e.btn(href="#").active 
								+icon("mark")
		+e.map
			#map(data-mark="img/svg/map-cluster.svg")
			//- <div id="map"style="width:100%; height:360px"></div>
			<script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&amp;lang=ru-RU&amp;apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c"></script>
			script.
				const map = document.querySelector('#map');
				document.addEventListener('DOMContentLoaded', function(event) {
					ymaps.ready(init);
				});
				function init () {
					//- var center = [55.75322550427434,37.65589449999999];
					var center = [55.7483866057335,37.61940638345337];
					var myMap = new ymaps.Map("map", {
									center: center,
									zoom: 10
							}),
					myPlacemark2 = new ymaps.Placemark([55.80102214710043,37.58507410806275], {
						// Свойства.
						hintContent: ''
					}, {
							// Опции.
							// Своё изображение иконки метки.
							iconImageHref: map.dataset.mark,
							// Размеры метки.
							iconImageSize: [48, 48],
							// Смещение левого верхнего угла иконки относительно
							// её "ножки" (точки привязки).
					});
					myMap.behaviors.disable('scrollZoom');
					//на мобильных устройствах... (проверяем по userAgent браузера)
					if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
					//... отключаем перетаскивание карты
						myMap.behaviors.disable('drag');
					}
					myMap.geoObjects
						.add(myPlacemark2);
				}
	// end sProjectsMap