extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/news/_news.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'проекты'
	title= title
block pagecontent
	+header()
	+page-head({
		title, 
		bg:'project-head.jpg',
		p: `За&nbsp;последние 5&nbsp;лет институт участвовал в&nbsp;реализации крупных инфраструктурных проектов: Северо-Западная, Северо-Восточная и&nbsp;Юго-Восточная хорды, Южная рокада, дорога Солнцево-Бутово-Варшавское шоссе, станции Большой кольцевой линии метро, инфекционный госпиталь в&nbsp;Новой Москве, многофункциональный комплекс зданий Национального космического центра`
		} ).page-head--h
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	+newsPage03
	
	
	//- +partnersSlider
	+footer