extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Благоустройство территории'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-2.jpg',
		nav: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-5',
		title,
		t2:`Охрана окружающей среды, благоустройство и озеленение`,
		p: `Комплексное благоустройство — это мероприятия, направленные на создание благоприятной городской среды, осуществляемые с соблюдением всех стандартов охраны труда и экологии. Озеленение территории во многом определяет облик города и комфортность проживания в нем, имеет большое оздоровительное значение, снижает городской шум, создают благоприятные условия для отдыха людей. Современные проектные решения по благоустройству способствуют комфорту и безопасности жителей, придают городскому ландшафту эстетичный и неповторимый вид.`
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» осуществляет деятельность по охране окружающей среды, благоустройству и озеленению территорий`,
		items: [
			`Разработка проектов по благоустройству и озеленению территорий`,
			`Разработка рекомендаций к проектным решениям с целью максимально возможного сохранения зеленых насаждений`,
			`Оценка воздействия на окружающую среду проектируемых сооружений и коммуникаций`,
		]
	})
	+sServiseGal({
		title: 'Проекты благоустройства территорий'
	})
	+footer