
extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Геодезические изыскания'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-7.jpg',
		nav2: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-7',
		title,
		t2:`Комплекс работ по изучению инженерно-геологических условий на участке`,
		p: `Инженерно-геологические изыскания производятся с целью получения полной информации о геологическом строения участка строительства, физико-механических параметров грунтов, их прочности, химико-коррозионной активности, гидрогеологических параметров и возможности их изменений в процессе возведения и эксплуатации проектируемого объекта, обеспечения мероприятий по защите конструкций от неблагоприятных воздействий геологической среды, геологических и инженерно-геологических процессов и явлений. `
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» осуществляет`,
		items: [
			`Сбор и анализ материалов о геологических изысканиях из архивов для уточнения объемов и технологии работ`,
			`Бурение разведочных геологических скважин`,
			`Отбор проб грунта и грунтовых вод`,
			`Опытные полевые работы по определению фильтрационных свойств горных пород (методом откачки, нагнетания, налива с последующим расчетом коэффициента)`,
			`Производство опытных полевых испытаний грунтов штампом и прессиометром, статическим зондированием`,
			`Исследования химических и физико-механических свойств грунтов и грунтовых вод в собственной аккредитованной лаборатории `,
			`Исследования геологического строения и гидрогеологических условий участка, выявление опасных геологических процессов `,
			` Составление отчетной технической документации и подтверждение ее соответствия нормативным документам в экспертных органах `
		]
	})
		//- p Для выполнения инженерно-геодезических изысканий в ООО «Институт» Мосинжпроект» используются современное геодезическое оборудование: ГНСС приемники, электронные тахеометры, оптические нивелиры с компенсатором, ручные лазерные дальномеры.
	//- .sServiseHead.section
	//- 	.container.container--sm 
	//- 		p Собственными силами специалистов Института разрабатываются следующие разделы: архитектурные решения, конструктивные решения, инженерные системы, технологические решения, проект организации строительства, охрана окружающей среды, сметная документация, обследования, инженерные изыскания.
	//- +sServiseGal({
	//- 	title: 'Проекты объектов дорожно-мостового строительства'
	//- })
	+footer