
extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Экологические изыскания'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-10.jpg',
		nav2: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-7',
		title,
		t2:`Исследования для обоснования экологии строительства, предотвращения негативного влияния на окружающую среду`,
		p: `Инженерно-экологические изыскания выполняются для экологического обоснования строительства с целью предотвращения, снижения или ликвидации неблагоприятных последствий и связанных с ними социальных, экономических и других последствий для сохранения оптимальных условий жизни населения. Экологические изыскания могут проводиться на различных стадиях проектирования, во время строительства и реконструкции объектов. `
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» осуществляет`,
		items: [
			`Разработку программы инженерно-экологических изысканий, в соответствии с техническим заданием заказчика, согласно требованиям действующих нормативных документов`,
			`Комплексное изучение природных и техногенных условий территории, её хозяйственного использования и социальной сферы`,
			`Оценку современного экологического состояния территории, компонентов природной среды и экосистем (природных комплексов) в целом, их устойчивости к техногенным воздействиям и способности к восстановлению`,
			`Разработку прогноза возможных изменений природных (природно-техногенных) систем при строительстве, эксплуатации или ликвидации объекта`,
			`Анализ возможных непрогнозируемых последствий строительства и эксплуатации объекта`,
			`Разработку предложений и рекомендаций по организации природоохранных мероприятий и экологического мониторинга на этапе строительства и эксплуатации`,
			`Составление отчетной технической документации и подтверждение ее соответствия нормативным документам в экспертных органах`
		]
	})
		//- p Для выполнения инженерно-геодезических изысканий в ООО «Институт» Мосинжпроект» используются современное геодезическое оборудование: ГНСС приемники, электронные тахеометры, оптические нивелиры с компенсатором, ручные лазерные дальномеры.
	//- .sServiseHead.section
	//- 	.container.container--sm 
	//- 		p Собственными силами специалистов Института разрабатываются следующие разделы: архитектурные решения, конструктивные решения, инженерные системы, технологические решения, проект организации строительства, охрана окружающей среды, сметная документация, обследования, инженерные изыскания.
	//- +sServiseGal({
	//- 	title: 'Проекты объектов дорожно-мостового строительства'
	//- })
	+footer