extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'геотехнические изыскания'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-6.jpg',
		nav2: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-10',
		title,
		t2:`Изучение свойств грунтовых массивов, возможных геологических и техногенных процессов`,
		p: `Инженерно-геотехнические изыскания направлены на изучение свойств грунтовых массивов, которые впоследствии будут использованы в качестве оснований зданий или непосредственно являться средой для подземных сооружений и коммуникаций. Данный вид исследований подразумевает создание математической модели, учитывающей не только свойства грунтов, но также геологические и техногенные процессы которые, с определенной долей вероятности, могут возникнуть на площадке строительства под влиянием внешних факторов: плотной застройки, большого количества подземных коммуникаций и наличия подземных сооружений.`
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» выполняет оценку влияния строительства на окружающую застройку, включая сооружения метрополитена`,
		items: [
			`Обследование строительных конструкций объектов окружающей застройки, включая сооружения метрополитена`,
			`Расчет оползневых склонов, расчеты геологических явлений, включая расчет образования карстовой воронки и его влияния на окружающую застройку`,
			`Разработка программы мониторинга и проекта наблюдательной станции сооружений окружающей застройки`,
			`Научно-техническое сопровождение строительства`,
			`Оптимизация параметров для модели упрочняющегося грунта (Hardening Soil)`,
			`Разработка проектов и расчетно-пояснительных записок ограждений и распорного крепления котлованов и других подземных сооружений`,
			`Расчет оползневых склонов, расчеты геологических явлений, включая расчет образования карстовой воронки и его влияния на окружающую застройку`,
			`Разработка проектов противоаварийных мероприятий методом инъекции и струйной цементации, а также компенсационного нагнетания`,
			`Оценка геологических рисков`
		]
	})
	//- .sServiseHead.section
	//- 	.container.container--sm 
	//- 		p Собственными силами специалистов Института разрабатываются следующие разделы: архитектурные решения, конструктивные решения, инженерные системы, технологические решения, проект организации строительства, охрана окружающей среды, сметная документация, обследования, инженерные изыскания.
	//- +sServiseGal({
	//- 	title: 'Проекты объектов дорожно-мостового строительства'
	//- })
	+footer