
extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Геодезические изыскания'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-70.jpg',
		nav2: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-9',
		title,
		t2:`Изучение местности и рельефа, определение построек, которые могут создавать препятствия для строительства`,
		p: `Инженерно-геодезические изыскания проводятся для получения топографо-геодезических материалов и данных о ситуации и рельефе местности (в том числе дна водотоков, водоёмов и акваторий), существующих зданиях и сооружениях (наземных, подземных и надземных) и других элементах планировки (в цифровой, графической, фотографической и иных формах), необходимых для комплексной оценки природных и техногенных условий территории (акватории) строительства и обоснования проектирования, строительства, эксплуатации и ликвидации объектов, а также обеспечения управления территорией. Инженерно-геодезические изыскания включают в себя комплекс полевых и камеральных работ в соответствии с заданиями для обеспечения проектирования. `
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» осуществляет`,
		items: [
			`Полевое трассирование`,
			`Топографические съёмки`,
			`Инвентаризацию строений и сооружений`,
			`Составление отчетной технической документации и подтверждение ее соответствия нормативным документам в экспертных органах.`,
			`Камеральные геодезические работы `
		]
	})
		p Для выполнения инженерно-геодезических изысканий в ООО «Институт» Мосинжпроект» используются современное геодезическое оборудование: ГНСС приемники, электронные тахеометры, оптические нивелиры с компенсатором, ручные лазерные дальномеры.
	//- .sServiseHead.section
	//- 	.container.container--sm 
	//- 		p Собственными силами специалистов Института разрабатываются следующие разделы: архитектурные решения, конструктивные решения, инженерные системы, технологические решения, проект организации строительства, охрана окружающей среды, сметная документация, обследования, инженерные изыскания.
	//- +sServiseGal({
	//- 	title: 'Проекты объектов дорожно-мостового строительства'
	//- })
	+footer