extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Объекты дорожно-мостового строительства'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-60.jpg',
		nav2: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-1',
		title,
		t2:`Комплексное проектирование объектов дорожно-транспортной инфраструктуры`,
		p: `Создание объектов дорожно-мостового строительства играет важную роль в обеспечении комфортной и безопасной жизни в городе. Это сложная, трудоемкая и дорогостоящая деятельность, так как автодороги и транспортные сооружения должны соответствовать многим требованиям по надежности, пропускной способности, долговечности, качеству, удобству эксплуатации. Кроме того, дорожные объекты включают в себя множество связанных между собой по функциональности искусственных инженерных сооружений, которые предназначены для обеспечения безопасности передвижения транспорта. <br> <br> Значительная часть транспортных сооружений, эксплуатируемых в данное время в столице, выполнена при участии наших специалистов. `
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» выполняет`,
		items: [
			`Проектирование городских и внегородских автомобильных дорог и их технического оснащения`,
			`Проектирование автодорожных путепроводов, мостов и эстакад, транспортных и пешеходных тоннелей`,
			`Разработка планов по организации рельефа для обеспечения водоотвода`,
			`Разработка проектов по обеспечению доступа маломобильных групп населения`,
			`Разработка проектной документации по организации дорожного движения, АСУДД, контактной сети и по перекладке кабелей МЭТ`,
			`Разработка проектов организации строительства (ПОС)`,
		]
	})
	//- .sServiseHead.section
	//- 	.container.container--sm 
	//- 		p Собственными силами специалистов Института разрабатываются следующие разделы: архитектурные решения, конструктивные решения, инженерные системы, технологические решения, проект организации строительства, охрана окружающей среды, сметная документация, обследования, инженерные изыскания.
	+sServiseGal({
		title: 'Проекты объектов дорожно-мостового строительства'
	})
	+footer