extends layout/main.pug


include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/news/_news.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Проектирование'
	title= title
block pagecontent
	+header()
	+page-head({
		title, 
		bg:'projection-page.jpg'
		} ).page-head--h
			p.max-w ООО &laquo;Институт &laquo;Мосинжпроект&raquo; осуществляет комплексное проектирование транспортных объектов, инженерных сооружений и&nbsp;коммуникаций всех видов.
			a.btn.btn--bgWhite(href="#") Реализованные проекты
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	+sContent04()
	
	
	//- +partnersSlider
	+footer