extends layout/main.pug


include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/news/_news.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'новости'
	title= title
block pagecontent
	+header()
	+page-head({ 
		bg:'new-head.jpg'
		} )
	+breadcrumb(`Главная`,`Проекты`,`Многоуровневые транспортные развязки на пересечении автомобильной дороги « Солнцево-Бутово-Видное» с Боровским шоссе и Киевским...`)
	+sContent()

	+news("nl")
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	//- +newsPage
	
	
	//- +partnersSlider
	+footer