extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/news/_news.pug
include ../blocks/partnersSlider/_partnersSlider.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sLicenses/_sLicenses.pug

block variables
	- let  mainPage= 'page-base'
	- let  bg= null

block title
	- let  title= 'Членство в СРО, свидетельства, лицензии'
	title= title
block pagecontent
	+header()
	+breadcrumb('Главная', 'О компании', 'Членство в СРО, свидетельства, лицензии')
	+page-head({
		title: 'Членство в СРО, свидетельства, лицензии'
	}).page-head--inner.page-head--sm-spacing
	+b.sContent--inner.section
		.container
			p ООО &laquo;Институт &laquo;Мосинжпроект&raquo; является членом саморегулируемых организаций (СРО) в&nbsp;области инженерных изысканий и&nbsp;архитектурно-строительного проектирования с&nbsp;декабря 2015&nbsp;года.
	+b.sContent.section
		.container
			p В&nbsp;соответствии с&nbsp;Градостроительным кодексом Российской Федерации СРО работают в&nbsp;качестве надзорных и&nbsp;контролирующих организаций, которые разрабатывают и&nbsp;утверждают стандарты профессиональной деятельности, соответствующие федеральным законам и&nbsp;иным нормативным правовым актам, а&nbsp;также обеспечивают исполнение своими членами обязательств по&nbsp;договорам подряда на&nbsp;выполнение инженерных изысканий и&nbsp;подготовку проектной документации.
	+sCards()
	+b.sContent.section.wow.animate__fadeInUp.animate__animated
		.container
			h3 Национальное объединение изыскателей и&nbsp;проектировщиков (НОПРИЗ)
			p Градостроительный кодекс Российской Федерации обязывает компанию иметь в&nbsp;штате квалифицированных специалистов, сведения о&nbsp;которых включены в&nbsp;Национальный реестр специалистов. Руководители Института и&nbsp;36&nbsp;ГИПов состоят в&nbsp;Национальном реестре специалистов в&nbsp;области инженерных изысканий и&nbsp;архитектурно-строительного проектирования (НРС) Национального объединения изыскателей и&nbsp;проектировщиков #[a(href="#") (НОПРИЗ)].
			p Наличие в&nbsp;штате Института нескольких десятков специалистов, сведения о&nbsp;которых включены в&nbsp;НРС, позволяет Институту успешно выполнять работы по&nbsp;всем договорам подряда, заключаемым с&nbsp;заказчиками.
	+sLicenses()
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	//- +news
	
	
	//- +partnersSlider
	+footer