extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/news/_news.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug
//- include ../blocks/sCards/_sCards.pug
include ../blocks/sInstitute/_sInstitute.pug
include ../blocks/sFundamentalPrinciples/_sFundamentalPrinciples.pug
include ../blocks/sDescription/_sDescription.pug

block variables
	- let  mainPage= 'page-base'
	- let  bg= null

block title
	- let  title= 'Кадровая политика'
	title= title
block pagecontent
	+header()
	+breadcrumb('Главная', 'О компании', 'Команда', 'Кадровая политика')
	+page-head({
		title: 'Кадровая политика'
	}).page-head--inner
	+b.sContent--inner.section
		.container
			p Залог успеха ООО &laquo;Институт &laquo;Мосинжпроект&raquo;&nbsp;&mdash; это коллектив высококвалифицированных специалистов. Наша компания последовательно работает над формированием сплоченного коллектива, объединяющего опыт, знания профессионалов и&nbsp;энергию молодых специалистов, число которых растет в&nbsp;компании с&nbsp;каждым годом. Сегодня&nbsp;57% штатного состава&nbsp;&mdash; люди в&nbsp;возрасте до&nbsp;40&nbsp;лет.
	+sInstitute()
	+sFundamentalPrinciples()
	+sDescription()
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	//- +news
	
	
	//- +partnersSlider
	+footer