extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sLanguageVersion/_sLanguageVersion.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug
//- include ../blocks/sCards/_sCards.pug

block variables
	- let  mainPage= 'page-base page-secondary'
	- let  bg= null

block title
	- let  title= 'Медиа-кит'
	title= title
block pagecontent
	+header()
	+breadcrumb('Главная', 'О компании', 'Медиа-кит')
	+page-head({
		title: 'Медиа-кит'
	}).page-head--inner.page-head--sm-spacing
	+sLanguageVersion()
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	//- +news
	
	
	//- +partnersSlider
	+footer