mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+e.wrap.bg-wrap
				+pic('sSteps-bg.jpg' ,'bg', 0).picture-bg
				h4 Карьера в&nbsp;ООО &laquo;Институт &laquo;Мосинжпроект&raquo;&nbsp;&mdash; 2&nbsp;простых шага
				+e.row.row
					.col-md-6
						span 1
						h5 Выберите Вакансию
						p Выберите открытую вакансию по&nbsp;своей специальности
					.col-md-6
						span 2
						h5 Отправьте отклик и&nbsp;расскажите нам о&nbsp;себе
						p Заполните анкету на нашем сайте прямо сейчас
				p Пришлите своё резюме на&nbsp;электронный адрес institute@mosinzhproekt.ru
	// end sSteps