mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container.container--sm
			+e.row.row
				.col-lg-6
					+e.wrap
						img(src='img/@2x/sInfo-bg-1.jpg')
				.col-lg-6
					+e.content
						h5 Институт «Мосинжпроект» выполняет все виды работ, необходимые для согласования:
						ol
							li Обследование сооружений метрополитена.
							li Оценка влияния строительства на метрополитен.
							li Разработка программы мониторинга.
							li Расчет шума и вибрации.
							li Ведение мониторинга сооружений метрополитена на время нового строительства.
			+e.list
				p Для выполнения данных работ у Института имеются следующие 
					strong необходимые допуски и документация:
				ul
					li Совместный приказ с&nbsp;ГУП &laquo;Московский метрополитен&raquo; на&nbsp;выполнение работ по&nbsp;обследованию и&nbsp;геотехническому мониторингу.
					li Наряд (на&nbsp;основании совместного приказа и&nbsp;подписанного Технического задания).
					li Заявка для выхода сотрудников на&nbsp;объекты метрополитена (на&nbsp;основании наряда составляется заявка на&nbsp;каждый выход сотрудников).
					li Оборудование для проведения работ (имеется оборудование для полноценного обследования и&nbsp;выявления зон разуплотнения).
					li Действующие поверки всего оборудования.
					li Все необходимые СРО.
					li Архивные чертежи сооружений метрополитена
			+e.footer
				h5 Примеры результата нашей работы
				p Объект: &laquo;Многофункциональный комплекс &laquo;Мневники&raquo; в&nbsp;составе &laquo;Транспортно-пересадочного узла &bdquo;Мневники&ldquo;, расположенного по&nbsp;адресу: г. Москва, СЗАО, территория района Хорошёво-Мневники&raquo; (дата согласования 17.05.22).
				p Над существующей станцией Московского метрополитена &laquo;Мневники&raquo; строится 16&nbsp;этажное здание многофункционального комплекса. Расстояние между фундаментом здания и&nbsp;плитой покрытия станционного комплекса по&nbsp;вертикали составляет 3,2&nbsp;м.
				p ООО &laquo;Институт &laquo;Мосинжпроект&raquo; разработал полный комплект научно&nbsp;&mdash; технической документации и&nbsp;согласовал проект в&nbsp;ГУП &laquo;Московский метрополитен&raquo; без дополнительных затрат на&nbsp;противоаварийные мероприятия.
	// end sInfo