mixin projecthead()
	+e.btns
		+select("ВСЕ ПРОЕКТЫ РОЕКТЫ РОЕКТЫ РОЕКТЫ РОЕКТЫ")
		+input("период",'text','','date').input-date-picker-js(autocomplite="off" readonly)
		+select("местоположение")

mixin newsItem()
	a.news__card(href='#')&attributes(attributes)
		+news__date()
		p.news__text
			| Институт «Мосинжпроект» участвует в создании знакового проекта Урала — «Притяжение»
		.news__img-wrap
			img.news__photo(src='images/news/1.jpg' alt='')
		
mixin projectItem(t='Многоуровневые транспортные развязки, улично-дорожная-сеть на участке от ул. Лухмановская до границ с Московской областью')
	a.news__card(href='#')&attributes(attributes)
		.news__img-wrap
			img.news__photo(src='images/news/1.jpg' alt='')
		.p-3.pb-0
			.h5.mb-3= t
			.news__card-row
				.small.mb-3
					.strong.mb-1 Заказчик
					| ГКУ «УДМС»
				.small
					.strong.mb-1 Период
					| Проектирование: 2019-2020

mixin newsbtn(t='показать больше новостей')
	+e.footer.text-center.text-primary
		+e.btn-more(href="#")
			+icon("spinner")
			= t
mixin news(nl, t='Новости')
	// start news
	.news
		.container
			.news__content
				
				h2.news__title= t
				if !nl
					a.news__all.btn(href='#') Подробнее
				.news__cards.news__cards--js
					- for (var x = 0; x < 3; x++)
						if t=='Новости'
							+newsItem()
						else
							+projectItem
	// end news

mixin newsProject(nl, t='Новости')
	// start news
	.news
		.container
			.text-lg-left.text-center
				h2.news__title= t
			
			.news__content.d-block
				.news__cards.d-block.news__cards--projects.news__cards--2js
					- for (var x = 0; x < 2; x++)
						+projectItem
					+projectItem("Многоуровневые транспортные развязки,")
			.d-xl-none
				a.btn.btn--colorWhite.btn--bgBlack(href='#') Наши проекты
				
	// end news


mixin newsPage(data)
	// start news
	+b.news--page
		+b.secion-head
			.container
				.row
					.col
						+e.btns
							+e.btn(href="#").active  2021
							+e.btn(href="#") 2020
							+e.btn(href="#") 2019
					.col-md-auto
						+e.btn.w-100(href="#") Все новости
		.container
			.news__content
				+b.news__cards--page
					- for (var x = 0; x < 9; x++)
						+newsItem()(class="wow animate__fadeInUp animate__animated")
					+newsbtn
	// end news
mixin newsPage03(data)
	// start news
	+b.news--page
		+b.secion-head
			.container
				.row
					.col
						+projecthead()
					.col-md-auto
						+e.btns(style="--bs-gutter-x: 0")
							+e.btn(href="#").active
								+icon("cards")
							+e.btn(href="#") 
								+icon("mark")
		.container
			.news__content
				+b.news__cards--page
					+projectItem('Многоуровневые транспортные развязки на пересечении автомобильной дороги «Солнцево-Бутово-Видное» с Боровским шоссе и Киевским шоссе с необходимой для их функционирования улично-дорожной сетью')(class="wow animate__fadeInUp animate__animated")
					- for (var x = 0; x < 8; x++)
						+projectItem()(class="wow animate__fadeInUp animate__animated")
					+newsbtn('показать больше проектов')
	// end news
mixin newsPage03-1(data)
	// start news
	+b.news--page
		+b.secion-head
			.container
				.row
					.col
						+projecthead()
					.col-md-auto
						+e.btns(style="--bs-gutter-x: 0")
							+e.btn(href="#").active
								+icon("cards")
							+e.btn(href="#") 
								+icon("mark")
		.container
			.news__content
				+b.news__cards--page
					+projectItem('Многоуровневые транспортные развязки на пересечении автомобильной дороги «Солнцево-Бутово-Видное» с Боровским шоссе и Киевским шоссе с необходимой для их функционирования улично-дорожной сетью')(class="wow animate__fadeInUp animate__animated")
					- for (var x = 0; x < 8; x++)
						+projectItem()
					+newsbtn('показать больше проектов')
	// end news