mixin sCoordination(data)
	// start sCoordination
	+b.SECTION.sCoordination.section#sCoordination&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCoordination
				
			.row
	// end sCoordination