mixin s404(data)
	// start s404
	+b.SECTION.s404.section#s404&attributes(attributes)
		.container
			+e.content
				h1 404
				p Страница не&nbsp;найдена. Она не&nbsp;существовала или срок публикации истёк.
				button.btn.btn--bgBlack.btn--colorWhite На главную
	// end s404