include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")


mixin mainSlider()
	.mainSlider
		.mainSlider__photos
			#mainSliderPhotos.mainSliderPhotos
				- for (var x = 0; x < 4; x++)
					.mainSliderPhotos__slide(style='background-image: url(images/main_slider/1.jpg)')
						.container
							h5
								| Традиции
								br
								| профессионализма,
								br
								| гарантия результата
							.h1(data-text='Дороги') Дороги
							p.big Комплексное проектирование объектов дорожно-транспортной инфраструктуры
							a.mainSliderPhotos__btn.btn.btn--bgWhite(href='#') Подробнее
						.mainSlider__particles(id=`particles-js-${x}`)
			
		.mainSlider__nav.container
			.mainSliderNav__arrow.mainSliderNav__arrow--prev
				svg(xmlns='http://www.w3.org/2000/svg' width='40' height='41' viewBox='0 0 40 41' fill='none')
					path(d='M20.0007 7.30469L22.3507 9.62468L13.0507 18.8224H33.334V22.1131H13.0507L22.3507 31.3108L20.0007 33.6308L6.66732 20.4678L20.0007 7.30469Z' fill='white')
			#mainSliderNav.mainSliderNav
				.mainSliderNav__slide Дороги
				.mainSliderNav__slide Метро
				.mainSliderNav__slide Гражданские объекты
				.mainSliderNav__slide Изыскания
			.mainSliderNav__arrow.mainSliderNav__arrow--next
				svg(xmlns='http://www.w3.org/2000/svg' width='40' height='41' viewBox='0 0 40 41' fill='none')
					path(d='M20.0007 7.30469L22.3507 9.62468L13.0507 18.8224H33.334V22.1131H13.0507L22.3507 31.3108L20.0007 33.6308L6.66732 20.4678L20.0007 7.30469Z' fill='white')

mixin newsSlider()
	.newsSlider
		.slider__wrap
			#newsSliderPrev.slider__arrow.slider__arrow--prev
				svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
					path(d='M15 17.5L9 11.5L15 5.5' stroke='currentColor' stroke-width='2')
			.container
				#newsSlider.slider__carousel
					.newsSlider__slide
						img.newsSlider__photo(src='images/news_slider/1.jpg' alt='')
						.newsSlider__date
							.newsSlider__day 22
							.newsSlider__month сентября
							.newsSlider__year 2021
						a.newsSlider__link(href='#')
							img(src='images/icons/arrowLink.png' alt='')
						p.newsSlider__descr
							a(href='#')
								| Проектирование станций Большой кольцевой линии «Терехово» и «Кунцевская» с применением технологий информационного моделирования
						.newsSlider__dots
							.newsSlider__dot.newsSlider__dot--current
							.newsSlider__dot
							.newsSlider__dot
							.newsSlider__dot
					.newsSlider__slide
						img.newsSlider__photo(src='images/news_slider/1.jpg' alt='')
						.newsSlider__date
							.newsSlider__day 22
							.newsSlider__month сентября
							.newsSlider__year 2021
						a.newsSlider__link(href='#')
							img(src='images/icons/arrowLink.png' alt='')
						p.newsSlider__descr
							a(href='#')
								| Проектирование станций Большой кольцевой линии «Терехово» и «Кунцевская» с применением технологий информационного моделирования
						.newsSlider__dots
							.newsSlider__dot.newsSlider__dot--current
							.newsSlider__dot
							.newsSlider__dot
							.newsSlider__dot
					.newsSlider__slide
						img.newsSlider__photo(src='images/news_slider/1.jpg' alt='')
						.newsSlider__date
							.newsSlider__day 22
							.newsSlider__month сентября
							.newsSlider__year 2021
						a.newsSlider__link(href='#')
							img(src='images/icons/arrowLink.png' alt='')
						p.newsSlider__descr
							a(href='#')
								| Проектирование станций Большой кольцевой линии «Терехово» и «Кунцевская» с применением технологий информационного моделирования
						.newsSlider__dots
							.newsSlider__dot.newsSlider__dot--current
							.newsSlider__dot
							.newsSlider__dot
							.newsSlider__dot
					.newsSlider__slide
						img.newsSlider__photo(src='images/news_slider/1.jpg' alt='')
						.newsSlider__date
							.newsSlider__day 22
							.newsSlider__month сентября
							.newsSlider__year 2021
						a.newsSlider__link(href='#')
							img(src='images/icons/arrowLink.png' alt='')
						p.newsSlider__descr
							a(href='#')
								| Проектирование станций Большой кольцевой линии «Терехово» и «Кунцевская» с применением технологий информационного моделирования
						.newsSlider__dots
							.newsSlider__dot.newsSlider__dot--current
							.newsSlider__dot
							.newsSlider__dot
							.newsSlider__dot
			#newsSliderNext.slider__arrow.slider__arrow--next
				svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
					path(d='M15 17.5L9 11.5L15 5.5' stroke='currentColor' stroke-width='2')
	
mixin landingInfo()
	.landingInfo
		.container
			.landingInfo__grid
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/1.svg' alt='')
						img(src='images/landing_images/1_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/2.svg' alt='')
						img(src='images/landing_images/2_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/3.svg' alt='')
						img(src='images/landing_images/3_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/4.svg' alt='')
						img(src='images/landing_images/4_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/5.svg' alt='')
						img(src='images/landing_images/5_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/6.svg' alt='')
						img(src='images/landing_images/6_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/7.svg' alt='')
						img(src='images/landing_images/7_hover.svg' alt='')
				a.landingInfo__item(href='#')
					h4 Инженерные изыскания
					.loadingInfo__text Выполнение инженерных изысканий для строительства
					.landingInfo__btn.btn.btn--colorPrimary Подробнее
					.landingInfo__image
						img(src='images/landing_images/8.svg' alt='')
						img(src='images/landing_images/8_hover.svg' alt='')
		.container
			.landingInfo__textGrid
				.landingInfo__exp
					h6 наш опыт
					h2
						| За годы
						br
						| существования
						br
						| cпециалистами
						br
						| институтa
						br
						| запроектировано
				.landingInfo__textSubGrid
					div
						p.landingInfo__number(style='--num_end: 25000' data-number='25000') 0
						p Километров сетей различного назначения
					div
						p.landingInfo__number(style='--num_end: 300' data-number='300') 0
						p Подземных пешеходных переходов
					div
						p.landingInfo__number(style='--num_end: 20' data-number='20') 0+
						p Километров набережных
					div
						p.landingInfo__number.landingInfo__number--noPlus(style='--num_end: 4' data-number='4') 0
						p Станции метрополитена
					div
						p.landingInfo__number(style='--num_end: 4000' data-number='4000') 0
						p Километров автомобильных дорог и магистралей
					div
						p.landingInfo__number(style='--num_end: 100' data-number='100') 0
						p Транспортных пересечений на разных уровнях
		.landingInfo__bg
			svg.landingInfo__bg--desktop(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1924 860' preserveAspectRatio='xMinYMin slice' fill='none')
				g(opacity='0.3' clip-path='url(#clip0_1792_39941)')
					path(d='M-294.385 635.103L-362.955 874.874L-185.945 691.355L21.2175 678.718L36.9642 665.41L37.1875 665.186C46.4568 655.904 95.4835 607.256 151.099 560.622C175.78 539.932 200.573 520.25 224.695 502.133L224.918 502.021L682.017 574.489L682.463 574.601V628.169H788.781V535.683L777.725 527.519V527.183H765.999L747.795 517.118L747.683 516.895C743.44 504.817 738.637 493.074 733.724 482.003C715.967 442.525 694.078 409.982 668.727 385.378C637.01 354.624 599.822 336.283 558.054 330.804C556.156 330.58 554.257 330.356 551.8 330.133L551.242 330.021C540.074 328.679 528.124 328.008 515.951 328.008C488.144 328.008 457.655 331.587 425.269 338.744L423.929 339.079L424.375 338.297L-165.285 11.407L-166.402 13.5319L-155.904 19.3472L-257.196 10.2887L-294.385 635.103Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M768.678 615.196C768.678 615.196 758.627 545.077 725.236 478.983C696.423 422.06 649.295 368.939 588.877 357.308C502.885 340.757 397.126 386.944 301.194 448.229C245.913 483.568 193.871 523.828 150.764 560.063C89.3407 611.618 21.3288 678.606 21.3288 678.606L-166.514 691.243' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-2.45898 581.087C9.8256 571.246 24.0087 561.405 38.0801 550.669C89.2287 511.75 151.88 469.589 217.547 431.566C331.458 365.584 459.218 318.502 558.388 331.475C740.87 355.407 772.028 615.196 772.028 615.196H702.564C702.564 615.196 700.666 600.546 694.3 575.719' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-2.45898 556.484C-0.448779 555.03 3.6833 552.122 5.6935 550.668C59.5223 511.75 125.524 469.701 194.653 431.678C314.595 365.696 447.604 317.831 552.023 330.804' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M552.023 354.065C562.186 354.401 572.125 355.519 581.73 357.308C642.036 368.939 689.276 422.06 718.089 478.983C721.998 486.7 729.033 501.462 732.272 509.066' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M189.07 434.026L-281.988 319.173' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M759.856 573.482L286.453 457.847' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M762.76 568.562L769.796 570.575V575.943L764.212 574.489' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M315.488 439.282L758.292 567.22' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-250.941 274.999L227.934 414.008' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M398.913 346.013L-166.625 58.2653' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M403.492 344.112L-167.406 47.082' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M742.099 520.25L456.092 371.399' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M769.907 534.676L749.582 524.164' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M743.662 521.368L452.518 373.301' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M769.908 534.676L749.918 524.499' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M747.125 517.342L769.907 529.979V570.575' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M473.625 365.919L740.871 513.875' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-166.514 12.1899L424.71 339.639' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M13.2891 351.94V150.863' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M63.7676 366.479V175.243' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M106.094 378.78V197.051' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M149.312 391.194V217.74' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M186.277 401.93V237.758' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M219.334 411.548V254.645' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M249.152 403.496V269.743' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M275.508 391.194V283.163' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M301.641 380.01V296.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M325.986 370.393V308.884' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M346.871 362.676V319.508' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M366.303 329.462V355.854' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M385.848 339.303V350.151' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M387.521 399.358V460.866' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M368.76 408.864V455.274' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M348.992 419.6V448.9' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M328.891 431.23V442.861' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M406.953 390.299V465.339' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M423.035 383.477V470.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M438.559 377.326V474.286' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M452.742 371.287V479.542' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M466.812 381.464V482.562' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M479.656 387.056V487.818' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M492.164 393.766V490.278' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M504.672 400.141V494.192' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M515.84 405.509V497.436' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M527.119 410.765V500.455' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M536.5 416.021V504.034' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M545.322 420.159V506.494' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M554.145 425.415V508.172' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M563.303 429.441V511.191' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M571.232 433.691V513.875' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M577.375 434.25V515.553' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M442.914 375.761V476.523' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M520.418 355.854V498.89' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M577.264 356.525V514.994' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M618.248 366.59V526.736' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M649.295 384.931V535.795' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M675.539 407.745V543.064' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M697.539 434.25V549.103' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M715.074 460.083V555.254' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M586.531 440.736V518.125' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M593.344 444.874V519.355' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M600.156 447.893V521.927' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M606.188 451.025V523.269' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M612.441 454.715V525.394' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M624.949 461.202V529.308' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M631.426 464.333V531.098' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M636.676 467.352V532.775' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M642.148 469.701V533.558' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M656.441 476.97V537.919' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M663.59 480.661V540.38' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M670.066 483.233V541.945' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M682.129 490.055V544.406' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M687.488 493.633V546.866' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M693.072 495.758V549.103' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M702.342 500.455V551.563' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M707.256 502.58V552.458' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M711.5 504.929V553.576' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M720.211 509.402V556.372' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M724.008 511.527V557.379' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M727.582 513.875V557.938' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M731.268 514.993V559.951' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M734.729 516.335V560.51' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M738.08 518.684V562.075' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M740.871 519.914V562.523' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M743.887 523.269L744.334 562.075' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M747.125 532.887V563.977' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M750.029 541.274V564.983' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M753.49 549.662V566.325' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M753.49 525.841V535.906' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M683.246 573.818V627.498H777.391V527.854H766.111' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M777.391 527.854L788.335 536.018V627.498H777.391' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M106.427 482.562L-2.45898 465.228' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M760.526 575.943H695.306L224.807 501.238' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M769.796 575.943H764.547' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M756.842 549.103V528.861' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M760.527 529.644V560.51' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M763.654 531.88V569.345' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M766.223 533.111L766.67 570.575' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1693.48 636.668H1602.58V658.476H1693.48V636.668Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1809.96 636.668H1719.06V658.476H1809.96V636.668Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1648.48 389.964C1658.42 389.964 1666.46 390.97 1666.46 393.095V637.004H1630.5V393.095C1630.5 390.97 1638.54 389.964 1648.48 389.964Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1764.51 406.739C1774.45 406.739 1782.49 407.745 1782.49 409.87V637.004H1746.53V409.87C1746.53 407.745 1754.57 406.739 1764.51 406.739Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1192.61 630.629H1106.73V555.03L1049.55 610.835V630.629H1106.73' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1049.55 614.414L1106.73 562.075H1135.76' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2315.53 -23.3732C2315.53 -23.3732 2135.28 43.9506 1911.82 138.114C1779.25 194.031 1631.62 257.105 1497.04 327.672C1428.81 363.459 1362.81 403.496 1306.3 440.289C1234.71 486.923 1175.86 531.098 1132.75 565.878' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2315.53 -76.0468C2315.53 -76.0468 2135.28 -2.79586 1911.81 99.9791C1779.25 160.817 1631.61 229.594 1496.93 306.424C1428.7 345.342 1362.69 389.069 1306.18 429.105C1234.6 479.878 1175.74 527.966 1132.64 565.878V598.98' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2315.53 16.5514C2315.53 16.5514 2135.28 80.5202 1911.82 170.099C1779.25 223.22 1631.62 283.274 1497.04 350.375C1428.81 384.372 1362.81 422.395 1306.3 457.399C1234.71 501.685 1175.86 543.735 1132.75 576.726' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1132.75 597.638C1145.82 589.139 1158.21 581.311 1174.41 571.469' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1271.12 515.664C1239.18 532.999 1212.71 548.208 1187.47 563.417' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1561.59 380.122C1538.25 389.293 1519.71 396.897 1497.04 406.403C1428.81 435.144 1362.81 467.241 1306.3 496.765C1301.83 499.113 1298.93 500.455 1294.35 502.915' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2289.29 98.3017L1638.54 349.927' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2301.01 108.143L1651.94 354.624' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1628.93 380.122L1628.38 301.615L1561.26 328.567L1562.26 398.239L1628.93 380.122Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1834.53 378.78V388.51L1636.75 362.453V303.181L1628.38 301.615' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1630.5 404.726L1562.26 398.239' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1746.53 415.797L1666.46 408.193' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1628.93 380.122L1841.46 406.739L1782.49 419.04' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1841.46 377.55C1841.46 377.55 1841.12 405.508 1841.46 406.739' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1638.54 352.835L1834.53 378.78' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2293.42 275.67L1834.53 378.78' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1408.15 526.512H1390.05V648.97H1408.15V526.512Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1326.18 526.512H1306.63V648.97H1326.18V526.512Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1326.51 527.631L1390.5 529.644' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1408.15 530.538L1446.23 525.953L1289.1 519.467L1271.12 524.052L1307.3 527.407' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1271.12 524.052V484.91L1288.32 474.286V519.467' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1288.09 474.286H1294.12V508.731L1439.53 514.658V510.185V507.277L1294.35 502.915' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1446.23 525.953V501.685' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1919.3 96.8478V134.983' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1861.22 123.576V159.586' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1806.84 149.074V182.848' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1759.26 170.77V202.531' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1714.26 192.801V223.667' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1672.27 213.378V242.791' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1634.96 233.173V259.677' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1601.69 249.389V275.782' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1571.31 265.269V289.313' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1542.72 281.038V303.964' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1518.93 294.01V316.377' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1495.81 306.536V328.008' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1473.81 320.291V340.757' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1434.62 342.882V361.893' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1415.85 355.966V372.853' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1398.32 366.031V382.806' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1383.24 376.208V392.088' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1368.17 387.056V401.483' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1354.99 394.884V409.311' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1343.15 402.824V417.363' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1330.08 412.442V424.744' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1319.92 419.823V431.007' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1309.31 427.204V438.164' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1298.7 435.48V445.209' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1288.32 441.742V452.255' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1279.72 448.452V459.077' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1271.12 455.051V463.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1263.3 459.636V469.142' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1256.15 465.339V473.727' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1249.68 470.036V478.424' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1243.76 474.51V482.897' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1237.5 479.43V486.7' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1232.14 484.016V490.166' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1227.23 487.706V493.857' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1218.29 494.416V500.679' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1214.38 498.219V504.481' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1210.48 501.35V505.935' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1207.02 503.475V508.507' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1203.11 507.053V511.415' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1199.76 510.073V514.099' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1196.41 512.533V516.335' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1192.61 516.335V519.467' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1186.91 519.467V523.605' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1189.48 517.677V521.48' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1184.46 521.927V525.282' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1181.78 523.716V527.295' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1179.1 526.624V529.644' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1562.26 387.951C1562.26 387.951 1482.75 419.264 1438.08 439.282C1390.39 460.642 1301.05 503.475 1301.05 503.475' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1143.47 555.03H1106.73' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1271.12 521.592L1187.47 567.443' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1174.29 579.745V550.221L1183.79 543.399V576.726L1174.29 580.192' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1306.63 581.311L1174.29 580.192' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1183.79 576.726L1306.63 578.627' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1306.63 568.45L1187.47 567.443V543.399H1183.79' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1272.23 567.891L1305.96 552.681' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1326.29 545.748L1369.95 528.973' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1174.29 568.45L1133.31 594.395' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1207.69 595.402L1246.77 580.752' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1255.48 581.311V631.189H1268.88V581.87' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1207.91 581.311V641.142H1192.5L1192.61 638.122V580.752' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1192.61 598.98H1133.31' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1630.5 448.676C1524.07 478.983 1430.26 506.941 1430.26 506.941' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1745.86 417.139C1724.64 422.619 1713.48 425.415 1694.94 430.559C1680.87 434.473 1680.42 434.585 1666.46 438.499' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M707.925 700.749H698.879L757.51 680.843H763.541L707.925 700.749Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M567.211 745.371H583.292L488.924 779.144H467.594L567.211 745.371Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M615.456 733.964H600.938L681.681 706.564H691.732L615.456 733.964Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M422.364 794.466H446.039L294.716 848.705H262.664L422.364 794.466Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M770.576 676.481L900.57 631.86L775.825 676.481H770.576Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1191.38 704.216H1200.98L1139.34 683.415H1132.97L1191.38 704.216Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1339.13 751.186H1322.38L1421.44 786.637H1443.77L1339.13 751.186Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1288.54 739.108H1303.73L1218.96 710.367H1208.46L1288.54 739.108Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1491.35 802.741H1466.55L1625.47 859.665H1659.09L1491.35 802.741Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1125.6 678.718L989.018 631.86L1120.02 678.718H1125.6Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M900.011 704.104H894.539L906.824 683.191H911.737L900.011 704.104Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M866.843 751.074H875.889L856.68 786.525H850.315H845.848L866.843 751.074Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M881.92 738.996H873.879L890.854 710.255H897.331L881.92 738.996Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M836.355 802.629H848.416L817.258 859.665H802.74L836.355 802.629Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M909.615 678.494L936.976 631.636L914.306 678.494H909.615Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1002.76 704.104H1008.23L995.945 683.191H991.143L1002.76 704.104Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1035.92 751.074H1026.88L1046.09 786.525H1052.45H1056.92L1035.92 751.074Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1020.85 738.996H1028.89L1011.91 710.255H1005.55L1020.85 738.996Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1066.52 802.629H1054.35L1085.51 859.665H1100.14L1066.52 802.629Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M993.152 678.494L965.791 631.636L988.462 678.494H993.152Z' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M879.796 627.498C879.796 627.498 -1025.43 768.073 -1025.43 767.29' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-1036.38 656.351L865.279 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-1033.36 676.481L898.894 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-1053.8 702.762L866.284 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-993.49 721.55L885.605 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-1011.14 741.233L875.329 629.176L1047.98 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-993.49 628.952C-991.257 628.952 886.275 627.498 886.275 627.498H1035.7' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-684.143 894.445L898.894 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-1007.45 839.758L898.893 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M-1033.92 813.477C-1033.92 813.477 -63.659 721.774 895.879 627.386' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M26.2422 628.84V689.118' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M71.6953 628.84V685.875' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M113.016 628.84V682.856' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M150.094 629.176V680.06' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M183.932 628.84V677.6' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M214.754 629.176V675.586' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M244.014 628.84V673.238' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M269.254 628.84V671.113' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M294.045 628.84V670.33' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M316.381 629.176V667.87' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M336.148 628.84V666.416' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M356.139 628.84V664.962' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M374.9 628.84V663.62' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M392.77 628.84V662.278' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M408.18 628.84V661.16' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M423.816 628.84V660.936' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M437.439 629.176V659.147' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M450.842 628.728V658.029' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M476.416 629.176V656.127' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M463.238 629.176V657.022' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M487.473 628.84V655.456' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M498.527 628.84V654.674' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M508.691 629.176V654.674' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M518.072 629.176V652.884' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M527.676 628.84V652.325' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M536.834 629.176V651.878' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M545.545 629.176V651.319' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M553.92 628.84V650.536' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M561.627 628.84V650.536' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M569.555 628.84V649.753' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M575.922 629.176V648.858' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M583.068 628.504V648.635' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M590.215 628.84V647.852' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M596.582 628.84V647.404' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M602.389 628.84V646.51' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M609.76 628.84V646.286' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M615.678 628.84V646.062' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M620.592 628.728V646.062' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M626.287 628.84V645.168' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M630.754 628.504V645.168' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M635.557 628.84V644.497' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M640.471 628.504V643.938' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M645.162 628.393V643.938' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M649.852 628.84V643.267' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M653.648 628.952V643.267' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M657.111 628.952V643.043' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M660.35 629.176V642.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M663.365 629.176V642.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M666.156 629.176V642.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M668.836 628.952V642.707' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M671.182 628.952V642.707' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M673.527 628.952V641.925' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M675.873 628.952V641.701' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M678.441 628.952V641.477' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M680.898 628.952V640.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M682.686 628.952V640.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M684.92 628.952V640.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M687.041 628.952V640.918' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M688.604 628.952V640.247' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M690.727 628.952V640.247' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M692.848 628.952V639.688' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M694.971 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M697.092 628.952V639.688' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M699.213 628.952V639.688' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M701.336 628.952V639.464' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M703.568 628.952V639.464' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M705.691 628.952V639.464' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M707.812 628.952V639.017' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M709.936 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M711.387 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M712.949 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M714.402 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M715.965 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M717.418 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M718.869 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M720.432 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M721.885 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M723.447 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M724.898 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M726.463 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M727.914 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M729.479 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M730.93 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M732.494 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M733.945 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M735.396 628.952V638.122' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M736.961 628.952V638.122' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M738.412 628.952V638.122' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M739.977 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M741.428 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M742.992 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M744.443 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M746.006 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M747.459 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M748.91 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M750.473 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M751.926 628.952V636.892' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M753.488 628.952V636.892' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M754.941 628.952V636.892' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M756.504 628.952V637.004' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M757.957 628.952V637.004' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M759.52 628.952V637.004' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M760.971 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M762.535 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M763.986 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M765.438 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M767.002 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M768.455 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M770.018 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M771.469 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M773.033 628.952V635.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M774.484 628.952V635.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M776.049 628.952V635.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M777.5 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M779.062 628.952V634.32' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M780.627 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M782.191 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M783.643 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M785.094 628.952V634.879' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M786.658 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M788.109 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M789.672 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M791.125 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M792.688 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M794.141 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M795.703 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M797.156 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M798.719 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M800.17 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M801.623 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M803.186 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M804.637 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M806.201 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M807.652 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1023.08 627.498C1023.08 627.498 2928.31 768.073 2928.31 767.29' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2896.26 628.952C2894.02 628.952 1016.49 627.498 1016.49 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2939.14 656.351L1037.6 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2936.12 676.481L1003.87 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2956.56 702.762L1036.48 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2896.26 721.55L1017.16 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2913.9 741.233L1023.41 627.498' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2586.91 894.442L1003.87 627.496' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1003.87 627.496L2910.33 839.756' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M2936.68 813.477C2936.68 813.477 1966.42 721.774 1006.89 627.386' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1876.63 628.84V689.118' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1831.18 628.84V685.875' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1789.86 628.84V682.856' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1752.67 629.176V680.06' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1718.83 628.84V677.6' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1688.01 629.176V675.586' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1658.75 628.84V673.238' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1633.62 628.84V671.113' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1608.83 628.84V670.33' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1586.38 629.176V667.87' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1566.62 628.84V666.416' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1546.63 628.84V664.962' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1527.87 628.84V663.62' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1510 628.84V662.278' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1494.58 628.84V661.16' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1479.06 628.84V660.936' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1465.33 629.176V659.147' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1451.92 628.728V658.029' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1426.46 629.176V656.127' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1439.53 629.176V657.022' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1415.29 628.84V655.456' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1404.24 628.84V654.674' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1394.07 629.176V654.674' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1384.69 629.176V652.884' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1375.2 628.84V652.325' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1365.93 629.176V651.878' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1357.33 629.176V651.319' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1348.85 628.84V650.536' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1341.14 628.84V650.536' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1333.32 628.84V649.753' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1326.84 629.176V648.858' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1319.7 628.504V648.635' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1312.66 628.84V647.852' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1306.18 628.84V647.404' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1300.38 628.84V646.51' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1293.12 628.84V646.286' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1287.09 628.84V646.062' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1282.17 628.728V646.062' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1276.59 628.84V645.168' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1272.01 628.504V645.168' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1267.21 628.84V644.497' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1262.29 628.504V643.938' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1257.6 628.393V643.938' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1252.91 628.84V643.267' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1249.12 628.952V643.267' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1245.65 628.952V643.043' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1242.42 629.176V642.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1239.4 629.176V642.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1236.61 629.176V642.931' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1233.93 628.952V642.707' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1231.7 628.952V642.707' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1229.35 628.952V641.925' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1227 628.952V641.701' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1224.32 628.952V641.477' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1221.87 628.952V640.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1220.08 628.952V640.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1217.96 628.952V640.471' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1215.84 628.952V640.918' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1214.16 628.952V640.247' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1212.04 628.952V640.247' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1209.92 628.952V639.688' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1207.79 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1205.67 628.952V639.688' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1203.55 628.952V639.688' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1201.43 628.952V639.464' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1199.31 628.952V639.464' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1197.19 628.952V639.464' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1195.06 628.952V639.017' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1192.94 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1191.38 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1189.93 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1188.36 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1186.91 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1185.35 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1183.9 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1182.33 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1180.88 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1179.32 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1177.87 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1176.41 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1174.85 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1173.4 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1171.84 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1170.38 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1168.82 628.952V639.241' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1167.37 628.952V638.122' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1165.8 628.952V638.122' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1164.35 628.952V638.122' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1162.79 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1161.34 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1159.89 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1158.32 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1156.87 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1155.31 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1153.86 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1152.29 628.952V638.01' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1150.84 628.952V636.892' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1149.28 628.952V636.892' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1147.82 628.952V636.892' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1146.26 628.952V637.004' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1144.81 628.952V637.004' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1143.36 628.952V637.004' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1141.79 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1140.34 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1138.78 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1137.33 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1135.76 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1134.31 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1132.75 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1131.29 628.952V636.557' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1129.73 628.952V635.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1128.28 628.952V635.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1126.83 628.952V635.438' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1125.27 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1123.81 628.952V634.32' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1122.14 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1120.69 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1119.12 628.952V635.662' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1117.67 628.952V634.879' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1116.11 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1114.66 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1113.09 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1111.64 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1110.08 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1108.62 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1107.17 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1105.61 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1104.16 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1102.6 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1101.14 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1099.58 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1098.13 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1096.56 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
					path(d='M1095.11 628.952V633.425' stroke='#2B2B2B' stroke-width='0.3')
				defs
					clippath#clip0_1792_39941
						rect(width='2123' height='860' fill='white' transform='translate(-109)')
			img.landingInfo__bg--mobile(src='images/landing_bg.svg' alt='')
	
mixin promo()
	.promo.promo--gray
		.container
			.promo__grid
				.promo__image
					img(src='images/bim.png' alt='')
				.promo__text
					h2 Цифровизация, развитие BIM-технологий
					p.promo__descr
						| Следуя тенденциям цифровизации строительной отрасли, Институт «Мосинжпроект» использует современные методы проектирования, в том числе технологии информационного моделирования. В 2021 году Институт «Мосинжпроект» стал «BIM-компанией года».
					a.btn.btn--bgPrimary.btn--colorWhite(href='#') Подробнее
mixin promo2()
	.promo.promo--white.promo--reverse
		.container
			.promo__grid
				.promo__text
					h2 Наши проекты 
					p.promo__descr
						| За последние 5 лет институт участвовал в реализации крупных инфраструктурных проектов: Северо-Западная, Северо-Восточная и Юго-Восточная хорды, Южная рокада, дорога Солнцево-Бутово-Варшавское шоссе, станции Большой кольцевой линии метро, инфекционный госпиталь в Новой Москве, многофункциональный комплекс зданий Национального космического центра
					a.btn.btn--bgPrimary.btn--colorWhite(href='#') Подробнее
				.promo__image(style='background-image: url(images/projects.jpg)')
					img.promo__imageFg(src='images/projects_fg.svg' alt='')
				

mixin page-head(data)
	+b.page-head.bg-wrap&attributes(attributes)
		if data.bg
			+pic(data.bg,'bg', 0).picture-bg
		.container
			if data.title
				h1(data-text= data.title)= data.title
			if data.p
				p!= data.p
			block

mixin news__date()
	.news__date
		.news__day 02
		.news__month октября
		.news__year 2021


mixin share()
	+b.share
		span Поделиться
		+soc()
			+item-sos("fb")
			+item-sos("twitter")
			+item-sos("vk")
			+item-sos("instagram")