mixin sTestingContent(data)
	// start sTestingContent
	+b.sTestingContent.section#sTestingContent&attributes(attributes)
		.container
			.row
				.col-lg-6
					mixin slide(img, ...texts)
						+e.slide.swiper-slide
								+pic(img, `bg`, 0)
					+e.sliderContainer
						+e.slider--js.swiper
							.swiper-wrapper
								+slide('sTestingContent-img-1.jpg')
								+slide('sTestingContent-img-1.jpg')
								+slide('sTestingContent-img-1.jpg')
						+arrow
				+e.col.col-lg-6
					p За&nbsp;годы работы Испытательного Центра была собрана великолепная база для изысканий. Благодаря штату высококлассных специалистов, имеющих профильное образование и&nbsp;большой опыт работы,  современному аналитическому и&nbsp;измерительному оборудованию, включающему в&nbsp;себя бета-гамма-спектрометры, атомно-абсорбционные спектрометры, жидкостные хроматографы, спектрофотометры, системы микроволновой пробоподготовки, налаженным партнерским связям с&nbsp;профильными лабораториями мы&nbsp;выполняем заказы любой сложности в&nbsp;кратчайшие сроки с&nbsp;соблюдением высочайшего качества.
	// end sTestingContent

mixin sTestingContent2()
	+b.sTestingContent--2.section#sTestingContent&attributes(attributes)
		.container.container--sm
			+e.row.row
				+e.col.col-sm-6 
					+pic('sTestingContent-img-2.png')
				+e.col.col-sm-6
					+pic('sTestingContent-img-3.png')