extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Транспортно-пересадочные узлы '
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-4.jpg',
		nav: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-6',
		title,
		t2:`Проектирование технологической (транспортной) части ТПУ`,
		p: `Транспортно-пересадочный узел – это общественное пространство, которое объединяет различные виды транспорта (наземный общественный, метро, железную дорогу и Московское центральное кольцо), а также обеспечивает район социальной инфраструктурой.   <br> <br> Для ТПУ нет стандартного набора объектов. Место и функционал каждого из них зависят от потребности конкретного района, загруженности транспортной сети и потребности жителей.`
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» осуществляет`,
		items: [
			`Разработка рабочей документации и ее согласование в полном объеме`,
			`Устройство новой конструкции, реконструкция и замена дорожной одежды`,
			`Проектирование и переустройство инженерных сетей УДС`,
			`Благоустройство и организация общественного пространства`,
			`Проектирование технологической (транспортной) части ТПУ, включая подземные и наземные пешеходные переходы, парковки`,
		]
	})
	+sServiseGal({
		title: 'Проекты транспортно-пересадочных узлов'
	})
	+footer