extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Объекты метрополитена'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-3.jpg',
		nav: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-3',
		title,
		t2:`Комплексное проектирование объектов метрополитена`,
		p: `Московский метрополитен —одно из главных достояний столицы, крупнейшая транспортная структура современного города, которая обеспечивает жителей надежной, комфортной транспортной услугой и постоянно развивается. Появляются станционные комплексы, проектируются новые и продлеваются уже существующие линии, а старые объекты реконструируются. Среди масштабных транспортных проектов, разрабатываемых на сегодняшний день — строительство Большой кольцевой линии (БКЛ). <br> <br> ООО «Институт «Мосинжпроект» осуществляет комплексное проектирование линий метрополитена, включая станционные комплексы, перегонные тоннели и электродепо.
`
	})
	+sServiseBody({
		p:`Проектная документация разрабатывается по направлениям`,
		items: [
			`Трасса линии и организация эксплуатации`,
			`Проект организации строительства`,
			`Объемно-планировочные, архитектурные и конструктивные решения`,
			`Пожарная безопасность`,
			`Верхнее строение пути`,
			`Сметная документация`,
			`Инженерные системы (водоснабжение и водоотведение, отопление, вентиляция и кондиционирование, электротехнические и слаботочные системы)`,
		]
	})
	+sServiseGal({
		title: 'Проекты метрополитена'
	})
	+footer