
extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sServiseHead/_sServiseHead.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sServiseGal/_sServiseGal.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Геофизические исследования'
	title= title
block pagecontent
	+header()
	+page-head({
		bg:'project-page-8.jpg',
		nav2: true
		} ).pb-0.page-head--h
			
	+sServiseHead({
		i:'fig-7',
		title,
		t2:`Комплекс мероприятий по исследованию физических свойств пород`,
		p: `Геофизические исследования выполняются для определения геологического строения массива горных пород, изучения геологических процессов и обнаружения локальных геологических неоднородностей, уточнения гидрогеологических условий, оценки физико-механических свойств грунтов, а также изучения искусственных сооружений, определения конструктивных слоев дорожной одежды, выявления просадок, разуплотненных зон и погребенных технических объектов. Геофизические методы позволяют прослеживать геологические границы непрерывно и в большинстве случаев проводятся без нарушения сплошности изучаемой геологической среды. `
	})
	+sServiseBody({
		p:`ООО «Институт «Мосинжпроект» осуществляет`,
		items: [
			`Выполнение сейсмических исследований наземными и скважинными методами (МПВ, МОВ ОГТ, ВСП, сейсмотомография)`,
			`Выполнение геофизических исследований в скважине методом Гамма-каротажа`,
			`Выполнение георадиолокационных исследований `,
			`Выполнение камеральной обработки материалов и составление технического отчета`
		]
	})
	
		//- p Для выполнения инженерно-геодезических изысканий в ООО «Институт» Мосинжпроект» используются современное геодезическое оборудование: ГНСС приемники, электронные тахеометры, оптические нивелиры с компенсатором, ручные лазерные дальномеры.
	//- .sServiseHead.section
	//- 	.container.container--sm 
	//- 		p Собственными силами специалистов Института разрабатываются следующие разделы: архитектурные решения, конструктивные решения, инженерные системы, технологические решения, проект организации строительства, охрана окружающей среды, сметная документация, обследования, инженерные изыскания.
	//- +sServiseGal({
	//- 	title: 'Проекты объектов дорожно-мостового строительства'
	//- })
	+footer