extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/news/_news.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug
//- include ../blocks/sCards/_sCards.pug
include ../blocks/sInstitute/_sInstitute.pug
include ../blocks/sFundamentalPrinciples/_sFundamentalPrinciples.pug
include ../blocks/sDescription/_sDescription.pug
include ../blocks/sInvite/_sInvite.pug
include ../blocks/sQuestions/_sQuestions.pug

block variables
	- let  mainPage= 'page-base'
	- let  bg= null

block title
	- let  title= 'Кадровая политика'
	title= title
block pagecontent
	+header()
	+breadcrumb('Главная', 'О компании', 'Команда', 'Кадровая политика')
	+page-head({
		title: 'Кадровая политика'
	}).page-head--inner
	+b.sContent--inner.section
		.container
			p Залог успеха ООО &laquo;Институт &laquo;Мосинжпроект&raquo;&nbsp;&mdash; это коллектив высококвалифицированных специалистов. Наша компания последовательно работает над формированием сплоченного коллектива, объединяющего опыт, знания профессионалов и&nbsp;энергию молодых специалистов, число которых растет в&nbsp;компании с&nbsp;каждым годом. Сегодня&nbsp;57% штатного состава&nbsp;&mdash; люди в&nbsp;возрасте до&nbsp;40&nbsp;лет.
	+sInstitute()
	+sFundamentalPrinciples()
	+sDescription()
	+b.sContent--base.section.wow
		.container.wow.animate__fadeInUp.animate__animated
			h3 Защита персональных данных 
			p В&nbsp;соответствии с&nbsp;Трудовым кодексом Российской Федерации, Федеральным законом от&nbsp;27.07.2006 &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo;, Требованиями к&nbsp;защите персональных данных при их&nbsp;обработке в&nbsp;информационных системах персональных данных, утвержденными постановлением Правительства Российской Федерации от&nbsp;01.11.2012 &#8470;&nbsp;1119, Положением об&nbsp;особенностях обработки персональных данных, осуществляемой без использования средств автоматизации, утвержденным постановлением Правительства Российской Федерации от&nbsp;15.09.2008 &#8470;&nbsp;687&nbsp;в ООО &laquo;Институт &laquo;Мосинжпроект&raquo; приняты Политика в&nbsp;отношении организации и&nbsp;обеспечения безопасности персональных данных.
			+docLine2('Политика в&nbsp;отношении организации и&nbsp;обеспечения безопасности персональных данных').docLine--second
			+docLine2('Положение об&nbsp;организации обработки и&nbsp;обеспечения безопасности персональных данных').docLine--second
	+sInvite()
	+sQuestions('Вопросы заместителю генерального директора по&nbsp;управлению персоналом', 'Интервью по&nbsp;вопросам кадровой политики, hr-стратегии компании, перспективах и&nbsp;работе в&nbsp;Институте', 'Подробнее')
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	//- +news
	
	
	//- +partnersSlider
	+footer