extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sServiseBody/_sServiseBody.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sAchievements/_sAchievements.pug
include ../blocks/sTestingContent/_sTestingContent.pug
//- include ../blocks/sFundamentalPrinciples/_sFundamentalPrinciples.pug
//- include ../blocks/partnersSlider/_partnersSlider.pug
//- include ../blocks/sCards/_sCards.pug

block variables
	- let  mainPage= 'page-base page-secondary'
	- let  bg= null

block title
	- let  title= 'Испытательный центр'
	title= title
block pagecontent
	+header()
	+breadcrumb('Главная', 'О компании', 'Испытательный центр')
	+page-head({
		title,
		p: 'Испытательный Центр ООО &laquo;Институт &laquo;Мосинжпроект&raquo; объединил Лабораторию радиационного контроля и&nbsp;Химическую лабораторию. Работает с&nbsp;1&nbsp;июля 2015&nbsp;года.'
	}).page-head--inner
	+sServiseBody2({
		title: 'Испытательный центр ООО &laquo;Институт &laquo;Мосинжпроект&raquo; осуществляет',
		items: [
			`Измерения активности естественных и техногенных радионуклидов`,
			`Измерения содержания канцерогенов (бенз(а)пирена) и нефтепродуктов`,
			`Измерения плотности потока радона с поверхности земли (строительных конструкций)`,
			`Измерения объемной активности радона в воздухе жилых и служебных помещений`,
			`Определение значений рН солевой вытяжки`,
			`Измерения содержания солей тяжелых металлов, мышьяка и ртути`,
			`Оценку и измерения радиационных показателей на территориях и в зданиях`,
			`Иные виды исследований и измерений в зависимости от поставленной задачи`,
		]
	}).wow.animate__fadeInUp.animate__animated
	+sTestingContent().wow.animate__fadeInUp.animate__animated
	+b.sContent--base.--testing.section.wow.animate__fadeInUp.animate__animated
		.container
			p Точность и&nbsp;достоверность результатов исследований и&nbsp;измерений обеспечивается использованием в&nbsp;работе Испытательного центра утвержденных методик, современного оборудования и&nbsp;действующей системой менеджмента качества (в&nbsp;соответствии с&nbsp;ГОСТ ISO/IEC 17025-2019).
	//- +mainSlider()
	//- +newsSlider()
	//- +landingInfo
	
	//- +promo()
	//- +promo2()
	//- +news
	
	
	//- +partnersSlider
	+footer