mixin header()
	// start header
	header.header&attributes(attributes)
		.header__desktop.container
			a.header__logo(href='/')
				img(src='images/Logo.svg' alt='')
			ul
				li.header__select
					a О компании
					.header__selectMenu
						ul
							li
								a(href='#') учредительные документы
							li
								a(href='#') Реквизиты
							li
								a(href='#') членство в сро
							li
								a(href='#') Системы менеджмента
							li
								a(href='#') закупочная деятельность
							li
								a(href='#') защита персональных данных
				li.header__select
					a Деятельность
					.header__selectMenu
						ul
							li
								a(href='#') учредительные документы
							li
								a(href='#') Реквизиты
							li
								a(href='#') членство в сро
							li
								a(href='#') Системы менеджмента
							li
								a(href='#') закупочная деятельность
							li
								a(href='#') защита персональных данных
				li
					a(href='#') Проекты
				li
					a(href='#') Новости
				li
					a(href='#') Контакты
				li
					a(href='#') О компании
			.header__search
				+icon('search')
				//- img(src='images/icons/search.svg' alt='')
			.header__lang ENG
		.header__mobile.container
			a.header__logo(href='/')
				img(src='images/Logo_mobile.svg' alt='')
			.header__search
				svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M14.71 14H15.5L20.49 19L19 20.49L14 15.5V14.71L13.73 14.43C12.59 15.41 11.11 16 9.5 16C5.91 16 3 13.09 3 9.5C3 5.91 5.91 3 9.5 3C13.09 3 16 5.91 16 9.5C16 11.11 15.41 12.59 14.43 13.73L14.71 14ZM5.00013 9.49998C5.00013 11.99 7.01013 14 9.50013 14C11.9901 14 14.0001 11.99 14.0001 9.49998C14.0001 7.00998 11.9901 4.99998 9.50013 4.99998C7.01013 4.99998 5.00013 7.00998 5.00013 9.49998Z' fill='currentColor')
			.header__trigger.trigger
				.trigger__top
				.trigger__middle
				.trigger__bottom
		#mobileMenu.menu
			ul
				li
					a(href='#') О компании
				li.menu__select
					a(href='#') Деятельность
					ul.menu__selectMenu
						li.menu__subSelect
							a(href='#') Проектирование
							ul.menu__subMenu
								li
									a(href='#') Объекты метрополитена
								li
									a(href='#') Гражданские объекты
								li
									a(href='#') Дорожные объекты
								li
									a(href='#') Благоустройство
								li
									a(href='#') Транспортно-пересадочные узлы
								li
									a(href='#') Инженерные коммуникации
						li
							a(href='#') Согласование
						li
							a(href='#') Изыскания
				li
					a(href='#') Наши проекты
				li
					a(href='#') Новости
				li
					a(href='#') Контакты
				li
					a(href='#') ENG
	
	// end header