mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			.row
				.col-lg-9
					h3 Вопросы заместителю генерального директора по&nbsp;управлению персоналом
					p Интервью по&nbsp;вопросам кадровой политики, hr-стратегии компании, перспективах и&nbsp;работе в&nbsp;Институте
				+e.col.col.text-right
					button.btn.btn--bgBlack.btn--colorWhite Подробнее
	// end sQuestions