mixin sSearch(data)
	// start sSearch
	+b.sSearch.section#sSearch&attributes(attributes)
		.container
			+b.secion-head
				.container 
					+e.btns
						+e.btn(href="#").active  Все разделы
						+e.btn(href="#") Новости
						+e.btn(href="#") проекты
			mixin item(t, l='Новости')
				+e.item
					.row
						.col
							+e.labels
								+e.label= l
							+e.title
								a(href="#")= t 
							if l== 'Новости'
								.text-secondary.mb-4 21 сентября 2021
							else
								.row
									+e.col.col-md-auto.col-6.mb-4
										.strong.small.mb-2 Заказчик
										.small ГКУ "УДМС" города Москвы
									+e.col.col-md-auto.col-6.mb-4
										.strong.small.mb-2 Период
										.small Проектирование: 2019-2020 гг.
						.col-md-auto
							a(href="#").d-block 
								+pic(`search-img.jpg`,'bg')
			+item(`Институт «Мосинжпроект» участвует в создании знакового проекта Урала — «Притяжение» `)
			+item(`По проекту Института «Мосинжпроект» реализован участок СВХ от Открытого до Ярославского шоссе`)
			+item(`На Юго-Восточной хорде начали строить путепровод тоннельного типа, спроектированный специалистами Института «Мосинжпроект»`)
			+item(`Многоуровневые транспортные развязки на пересечении автомобильной дороги «Солнцево-Бутово-Видное» с Боровским шоссе и Киевским шоссе с необходимой для их функционирования улично-дорожной сетью`,'Проекты')
			+item(`Проектирование станций Большой кольцевой линии «Терехово» и «Кунцевская» с применением технологий информационного моделирования`)
			+item(`Около 200 км дорог построят в Новой Москве за три года`)
			+item(`Объект ООО «Институт «Мосинжпроект» стал победителем конкурса «Лучший реализованный проект в сфере строительства — 2019»`)
			+item(`ООО «Институт «Мосинжпроект» заключит контракт на выполнение инженерных изысканий и разработку проектной документации по объекту: «Технологическая часть ТПУ на станции метро «Лианозово»`)
			+item(`Многоуровневые транспортные развязки на пересечении автомобильной дороги «Солнцево-Бутово-Видное» с Боровским шоссе и Киевским шоссе с необходимой для их функционирования улично-дорожной сетью`,'Проекты')
			+e.footer.text-center.text-primary
				+e.btn-more(href="#")
					+icon("spinner")
					| показать больше проектов
	// end sSearch