mixin teamItem(i,t, t2,p)
	+e.col.col-md-4.col-6
		+pic(`team-${i}.jpg`,'',0)
		+e.title
			span= t
			= t2
			p!= p
mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title
				h2 Команда
			.row
				+teamItem(`1`,`Астахова`, `Татьяна Вячеславовна`, `Первый заместитель генерального директора - финансовый директор`)
				+teamItem(`2`,`Андрейченко`, `Сергей Михайлович`, `Заместитель генерального директора по проектированию дорожных объектов`)
				+teamItem(`3`,`Сивак`, `Александр Анатольевич`, `Заместитель генерального директора по проектированию объектов метрополитена`)
				+teamItem(`4`,`Ибрагимов`, `Ильдар Фанисович`, `Заместитель генерального директора по проектированию гражданских объектов`)
				+teamItem(`5`,`Имамеев`, `Адель Дамирович`, `Заместитель генерального директора по проектному контролю`)
				+teamItem(`6`,`Шушпанников`, `Виталий Александрович`, `Заместитель генерального директора  по инженерным изысканиям`)
				+teamItem(`7`,`Ковалёва`, `Ирина Александровна`, `Заместитель генерального директора по управлению персоналом`)
				+teamItem(`8`,`Бабушкин`, `Николай Федорович`, `Советник генерального директора`)
				+teamItem(`9`,`Шумаков`, `Николай Иванович`, `Главный архитектор`)
				+teamItem(`10`,`Беляков`, `Владимир Алексеевич`, `Главный инженер`)
				+teamItem(`11`,`Воронцов`, `Александр Александрович`, `Заместитель главного инженера`)
				+teamItem(`12`,`Полищук`, `Виктор Петрович`, `Технический директор`)
				+teamItem(`13`,`Борисов`, `Александр Владимирович`, `Директор направления экономики и финансов`)
				+teamItem(`14`,`Исаев`, `Илья Олегович`, `Начальник управления по проектированию подземных сооружений и геотехническим изысканиям`)
				+teamItem(`15`,`Квык`, `Андрей Петрович`, `Начальник управления по проектированию гражданских объектов`)
	// end sTeam