// start .sTeam
.sTeam {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		background: #DBDBDB;
		.row{
			--bs-gutter-y: 48px;
		}
		picture{
			margin-bottom: rem(24);
			@include mt;
			@include media-breakpoint-up(md) {
				filter: saturate(0);
			}
		}
		&__col{
			&:hover{
				picture{
					@include media-breakpoint-up(md) {
						filter: saturate(1);
					}
				}
			}
		}

		.row{
			// --bs-gutter-y: var(--bs-gutter-x);
		}
		&__title{
			@include rfs(20px);
			margin-bottom: rem(16);
			font-weight: 600;
			span{
				@include rfs(25px);
				font-weight: bold;
				display: block;
			}
		}

	@include media-breakpoint-up(xl) {} 
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {} 
	@include media-breakpoint-down(xl) {}
} // end.sTeam