mixin allcss() 
	//- link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	//- link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="libs/swiper/swiper.min.css"/>
	link(href="libs/select2/css/select2.min.css", rel="stylesheet")
	
	link(href="libs/filepond/filepond.min.css", rel="stylesheet")
	link(href="libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css", rel="stylesheet")
	//- link(href="libs/litepicker/css/litepicker.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs() 
	link(href="libs/animate.css/animate.min.css", rel="stylesheet")
	script(src="libs/jquery/jquery.min.js")
	script(src="scripts/modernizr-custom.js")
	script(src="libs/wowjs/wow.min.js")
	script(src="scripts/imask.js")
	script(src="scripts/jquery-ui.min.js")
	script(src="scripts/particles.min.js")
	script(src="scripts/particles.js")
	script(src="scripts/simpleParallax.min.js")
	script(src="scripts/slick.min.js")
	script(src="scripts/jquery.waypoints.min.js")
	script(src="scripts/waypoint.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="libs/select2/js/select2.full.min.js") 
	script(src="libs/hc-sticky/hc-sticky.js") 
	script(src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js") 
	script(src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/multiselect.js") 
	script(src="scripts/main.js")


	script(  src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js") 
	script(  src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js") 
	script(  src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js") 
	script(  src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js") 
	script(  src="https://unpkg.com/filepond/dist/filepond.min.js") 

	script(src="js/common.js")