mixin sLanguageVersion(data)
	// start sLanguageVersion
	+b.SECTION.sLanguageVersion.section#sLanguageVersion&attributes(attributes)
		.container
			.row
				.col-md-6
					+e.card
						h3 Русскоязычная версия
						h5 Полное официальное наименование института
						p Общество с&nbsp;ограниченной ответственностью &laquo;Институт по&nbsp;изысканиям и&nbsp;проектированию транспортных и&nbsp;инженерных сооружений &laquo;Мосинжпроект&raquo;
						h5 Допустимы сокращения
						p.indent ООО &laquo;Институт &laquo;Мосинжпроект&raquo;
						p Институт &laquo;Мосинжпроект&raquo;
						h5 Логотип института
						+e.link
							p Основная версия логотипа
							a(href="#") .svg
							a(href="#") .png
						+e.link
							p Двухцветная версия логотипа
							a(href="#") .svg
							a(href="#") .png
						+e.link
							p Монохромная версия логотипа
							a(href="#") .svg
							a(href="#") .png
				.col-md-6
					+e.card
						h3 Англоязычная версия
						h5 Варианты наименования института на&nbsp;английском языке
						p Limited liability company &laquo;Institute for Research and Design of&nbsp;Transport and Engineering Structures &laquo;Mosinzhproekt&raquo;
						h5 Допустимы сокращения
						p.indent &laquo;Mosinzhproekt Institute&raquo; LLC
						p &laquo;Mosinzhproekt&raquo; Institute
						h5 Англоязычная версия логотипа
						+e.link
							p Основная версия англоязычного логотипа
							a(href="#") .svg
							a(href="#") .png
						+e.link
							p Двухцветная версия англоязычного логотипа
							a(href="#") .svg
							a(href="#") .png
						+e.link
							p Монохромная версия англоязычного логотипа
							a(href="#") .svg
							a(href="#") .png
	// end sLanguageVersion